@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";


body {background-color: #22252a;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #a5a8ad;margin-left: 30px;margin-right: 30px;margin-bottom: 0px;}
body::-webkit-scrollbar { width: 0; }
a {color: #a5a8ad;}
a:hover {color: #94969a;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color: #33373e;border-radius: 50px;}
.tab-content {margin-top: 30px;}
.weather-block {background-color: #2a2d33;height: 150px;padding: 18px;border-radius: 5px;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);overflow: hidden;}
.wall-list-link .wall-list:hover {background-color: #2a2d33;}
.wall-list-link:hover h5, .wall-list-link:hover h6, .wall-list-link:hover {color: #fff;}
.wall-list-link:hover {text-decoration: none;}
.wall-list {padding: 15px;border-radius: 5px;margin-bottom: 15px;}
.avatar-feed {border-radius: 50px;width: 50px;}
.feed-img {margin-top: 10px;border-radius: 5px;}
.tabs-block {overflow: hidden;overflow: scroll;border-radius: 5px;margin-bottom: -15px;margin-top: 72px;}
.tabs-block::-webkit-scrollbar { width: 0; }
.table-now {background-color: #2a2d33;text-align: center;padding: 45px 0px;border-radius: 5px;margin-bottom: 30px;}
.table-now:hover {background-color: #33373e;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);}
.table-now img {height: 60px;max-width: 200px;}
.tabs-link {position: absolute;right: 15;top: 0;color: #585c62;padding: 5px;cursor: pointer;}
.tabs-link:hover {color: #4d5055;}
.group-name {font-size: 16px;margin-top: 4px;}
.group-time {font-size: 12px;}
.media-text {margin-top: 5px;font-size: 13px;}
.dropdown-menu {background: #33373e;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);}
.dropdown-menu a {color: #a5a8ad;}
.dropdown-item:hover {background-color: #2a2d33;color: #fff;}
.table-name {display: none;}
.table-now:hover .table-name {display:block;position: absolute;bottom: 30;width: calc(100% - 30px);background: #2a2d33;padding: 5px 0px;border-radius: 0px 0px 5px 5px;}
.course-block {margin-bottom: 30px;}
.course-form {padding: 15px 15px 0px 15px;}
.course-button {border: 0px;padding: 10px 20px;color: #a5a8ad;border-radius: 5px;background: none;}
.course-button:hover {background: #2a2d33;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);cursor: pointer;color: #fff;outline: none;}
.course-button:focus {outline: none;}
.course-form-title {text-align: center;color: #a5a8ad;}
.course-list, .link-list {float: left;}
.course-block {margin-bottom: 30px;}
.link-block {margin-bottom: 15px;position: fixed;z-index: 101;background-color: #22252a;padding: 15px 0px;width: calc(100% - 30px);padding-right: 30px;}
.icon-link {width: 1rem;margin-right: 5px;}
.form-control {background-color: #22252a;border: 0px;color: #fff;}
.form-control:focus {background-color: #1b1d21;color: #fff;box-shadow: none;}
