@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";


body {background-color: #eee;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #222;}
body::-webkit-scrollbar { width: 0; }
.header {padding: 15px 30px;background: #eee;}
.nav-link {padding: 10px 20px!important;color: #222;border-radius: 5px;transition: 0.5s;}
.nav-link:hover {background: #fff;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);cursor: pointer;color: #222;}
.icon-link {width: 16px;height: 16px;}

.navbar-toggler:focus {outline: none;}
.dropdown-menu {background: #fff;box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);border: 0px;}
.dropdown-menu a {color: #a5a8ad;transition: 0.5s;}
.dropdown-item:hover {background-color: #f2f2f2;color: #979a9f;}

.converter {margin: 0px 15px;}
.converter .input-group {margin-bottom: 10px;}
.input-group-text {background: #fff;}

.table-block {margin: 15px;margin-top: 71px;}
.table-now {padding: 30px;background-color: #fff;text-align: center;padding: 45px 0px;border-radius: 5px;height: 150px;margin-bottom: 30px;transition: 0.5s;}
.table-now:hover {box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);}
.table-now img {height: 60px;max-width: 200px;}
.table-name {background: #f2f2f2;position: absolute;width: calc(100% - 30px);bottom: 30px;padding: 5px;color: #222;opacity: 0;transition: 0.5s;}
.table-now:hover .table-name {opacity: 1;}
.table-link {position: absolute;top: 5;margin-left: 5px;cursor: pointer;color: #888888;}
.weather-now {height: 150px;background: #fff;border-radius: 5px;padding-top: 19.5px;transition: 0.5s;}
.weather-now:hover {box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);}
.weatherwidget-io {border-radius: 5px;}
@media (max-width: 1918px) {
.table-now {height: 208px;padding: 73px 0px;}
.weather-now {height: 208px;padding: 0px;}
.table-now img {max-width: 150px;}
}
@media (max-width: 1200px) {
.weather-now {margin-bottom: 30px;height: 98px;border-radius: 5px;}
.table-now {height: 150px;padding: 45px 0px;}
}
@media (max-width: 659px) {.weather-now {height: 208px;} .table-now img {max-width: 120px;}}
@media (max-width: 375px) {.weather-now {height: 486px;} .table-now img {max-width: 150px;}}

.favicon-link {height: 24px;}
.modal-content {border: 0px;border-radius: 5px;padding: 10px;}
.form-control:focus {box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);border-color: #a5a8ad;}
.btn-add-link {background: #2DCC70;color: #fff;margin-top: 15px;}
.btn-add-link:hover {background: #28ba66;}
.btn-add-link:focus {box-shadow:none;}
.close:focus {outline: none;}

.delete-block {position: absolute;top:3px;right: 20px;opacity: 0;transition: 0.2s;}
.delete-block:hover {opacity: 1;}
.btn-tool {padding: 0px;border: 0px;background: none;cursor: pointer;color: #888888;margin-left: 2px;}
.btn-tool:hover {color: #696969;}
.btn-tool:focus {outline: none;}
