@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Roboto', sans-serif;font-size: 0.9rem;color: #130f40;background: #f5f5f5;}

.logo {height: 24px;}
.avatar-header {width: 18px;border-radius: 50px;}
.nav-item.dropdown>.navbar-nav .nav-item .nav-link {padding: 10px 15px;}
.bsnav-light .nav-item.dropdown>.navbar-nav, .bsnav-light .nav-item.dropdown>.navbar-nav .navbar-nav {border-radius: 5px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.navbar-nav {padding: 10px 0;}
.dropdown-link {color: #6c7293!important;}
.dropdown-link:hover {color: #374afb!important;}
.link-header {color: #fff!important;}
.link-header i {font-size: 1rem;}
.link-header:hover i {color: #374afb!important;}
.page-news a {color: #93a2dd;}
.page-news a:hover {text-decoration: none;border-bottom: 1px solid #93a2dd;color: #93a2dd;}
.navbar-toggler:focus {outline: none;}
.news-background {height: 350px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}
.news-background .overlay {background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0,0,0,0) 100%);width: 100%;height: 270px;position: absolute;}
.slider-background {height: 400px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}
.slider-background .overlay {background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.42) 100%);width: 100%;height: 400px;position: absolute;}
.page-news {background: #fff;padding: 30px;margin-top: -80px;border-radius: 10px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.page-news h1 {border-bottom: 1px dashed #e2e2e2;padding-bottom: 15px;font-size: 30px;margin-bottom: 15px;}
.page-news .info {color: #c7c7c7;font-size: 13px;margin-bottom: 15px;}
.page-news .info a {color: #c7c7c7;font-weight: bold;border-bottom: 1px solid #c7c7c7;}
.page-news .info a:hover {text-decoration: none;border-bottom: none;}
blockquote {border-left: 3px solid #93a2dd;color: #1a1a1a;font-size: 0.9em;font-style: italic;line-height: 1.8em;padding: 1em 2em;position: relative;transition: 0.2s border ease-in-out;z-index: 0;}
blockquote:before {content: "";position: absolute;top: 50%;left: -4px;height: 2em;background-color: #fff;width: 5px;margin-top: -1em;}
blockquote:after {font-family:"Font Awesome 5 Pro";content: "";font-weight: 900;position: absolute;top: 50%;left: -0.5em;color: #93a2dd;font-style: normal;line-height: 1em;
text-align: center;text-indent: -2px;width: 1em;margin-top: -0.5em;transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;}
blockquote.format:before, blockquote.format:after {display: none;}
blockquote:active:after {transform: rotateY(360deg);}
.tags a {color: #93a2dd;padding: 7.5px 15px;border-radius: 5px;}
.tags a:hover {text-decoration: none;background: #f0f3ff;border: 0px;}
.bsnav-mobile .navbar.bsnav-dark {background: #181824;}
.bsnav-mobile .navbar-nav .nav-item .nav-link {color: #4c4e6f!important;}
.bsnav-mobile .navbar-nav .nav-item .nav-link i {color: #374afb!important;}
.footer {color: #4c4e6f;background-color: #1e1e2d;padding: 30px 0;margin-top: 30px;}
.copyright a {color: #a2a3b7;border-bottom: 1px solid #a2a3b7;padding-bottom: 3px;}
.copyright a:hover {text-decoration: none;border-bottom: 0px;}
.footer .menu a {color: #4c4e6f;}
.footer .menu a:hover {color: #fff;text-decoration: none;}
.footer .menu i {color: #374afb;font-size: 1rem;margin-right: 3px;}
.bsnav-mobile .navbar {width: 200px;padding: 0px 0 15px;}
.footer .menu div {margin-bottom: 10px;}
.carousel-caption a {color: #fff;}
.carousel-caption a:hover {text-decoration: none;}
.carousel-caption {max-width: 1140px;margin: auto;}
.slider-poster {width: 100%;}
.carousel-caption h3 {margin-bottom: 15px;}
.main-page {background: #fff;padding: 30px;}
.main-page .img-news {width: 100%;}
.main-page .tags-link i {margin-right: 2px;}
.main-page .tags-link a {margin-right: 5px;color: #93a2dd;padding-bottom: 3px;}
.main-page .tags-link a:hover {text-decoration: none;border-bottom: 1px solid #93a2dd;}
.main-page h6 a {color: #130f40;}
.main-page h6 a:hover {text-decoration: none;}
.main-page .hr-dashed {border-bottom: 1px dashed #e2e2e2;margin: 30px 15px;}
.main-page .banner {background: #93a2dd;width: 100%;height: 100%;}
.taxi-banner {background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;padding: 30px;color: #fff;}
.taxi-banner a {color: #fff;}
.taxi-banner a:hover {text-decoration: none;}
.taxi-banner h4 {margin-bottom: 30px;}

@media (max-width: 992px) {
.container-main {padding-left: 0px;padding-right: 0px;}
.main-page .hr-dashed {border-bottom: 1px dashed #e2e2e2;margin: 15px 15px;}
.main-page {padding: 15px;}
.main-page .img-news {margin-bottom: 15px;}
.page-news {padding: 15px;border-radius: 5px;}
.page-news h1 {font-size: 22px;}
.info .col-lg {margin-bottom: 15px;}
.news-background {height: 250px;}
.news-background .overlay {height: 170px;}
blockquote {border-top: 2px solid #93a2dd;border-bottom: 2px solid #93a2dd;border-left: none;margin: 15px 0;padding: 15px 0;}
blockquote:before {left: 50%;top: 0;height: 4px;margin-top: -3px;margin-left: -1em;width: 2em;}
blockquote:after {font-size: 0.75em;left: 50%;top: 0;margin-top: -0.5em;margin-left: -0.5em;}
.footer {padding: 15px 0;margin-top: 15px;}
.copyright {padding-bottom: 15px;border-bottom: 1px dashed #4c4e6f;margin-bottom: 15px;}
.logo {height: 20px;}
.bsnav-mobile .navbar-nav .nav-item .nav-link:hover {color: #fff!important;}
.bsnav-mobile .navbar-nav .nav-item .navbar-nav {background: #12121b;}
.carousel-caption {right: 0;left: 0;padding: 0px 15px;}
.carousel-indicators {bottom: 0px;}
.carousel-caption .col-3 {padding: 7.5px;}
.carousel-caption .row {padding: 7.5px;padding-bottom: 0px;}
.slider-background {height: 260px;}
.slider-background .overlay {height: 260px;}
.carousel-caption h3 {margin-bottom: 0px;}
.taxi-banner {padding: 15px;height: 568px;}
.taxi-banner h4 {margin-bottom: 15px;}
.taxi-banner .img-fluid {margin-bottom: 15px;}
}
