.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  outline: none !important;
  border-radius: 4px;
  height: auto;
  line-height: 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
  font-family: "LineAwesome";
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: 0;
  top: 50%;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  font-size: 0.85rem;
  left: auto;
  right: 0;
  display: inline-block;
  width: 1.9rem; }
  .select2-container--default .select2-selection--single .select2-selection__arrow:before,
  .select2-container--default .select2-selection--multiple .select2-selection__arrow:before {
    content: ""; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b,
  .select2-container--default .select2-selection--multiple .select2-selection__arrow b {
    display: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  position: relative;
  padding: 0.65rem 3rem 0.65rem 1rem;
  line-height: 1.5; }
  .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    border: 0;
    position: absolute;
    top: 50%;
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.4rem;
    display: inline-block;
    left: auto;
    right: 1.85rem;
    margin-right: 0.4rem;
    margin-top: -1rem; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0.37rem 1rem;
  line-height: 1.5; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 0.05rem 0.4rem 0.05rem 0.4rem;
    font-size: 1rem;
    margin: 0.1rem 0.4rem 0.1rem 0;
    position: relative;
    float: left/*rtl:right*/; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
      font-family: "LineAwesome";
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      content: "";
      font-size: 1.4rem;
      display: inline-block;
      line-height: 0;
      margin-right: 0.3rem;
      position: relative;
      top: 0.1rem; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field {
    font-weight: 300;
    margin: 0.25rem 0.25rem 0.25rem 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none !important;
  border-radius: 4px; }

.select2-container--default .select2-search--dropdown {
  padding: 15px 15px; }

.select2-container--default .select2-results__option {
  padding: 5px 15px; }
  .select2-container--default .select2-results__option[aria-disabled=true] {
    cursor: not-allowed; }
  .select2-container--default .select2-results__option .select2-results__group {
    padding: 5px 15px;
    font-weight: 600; }
  .select2-container--default .select2-results__option .select2-results__option {
    padding: 5px 30px; }

.select2-container .select2-search--inline .select2-search__field {
  margin: 0; }

select.select2 {
  opacity: 0; }

.select2 > select.form-control {
  opacity: 0; }

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection .select2-selection--single {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection, .input-group > .select2-hidden-accessible:first-child + .select2-container > .selection.form-control {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection--single {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group > .select2-hidden-accessible:first-child + .select2-container + .input-group-text,
.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container + .input-group-text {
  border-left: 0; }

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection--single {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: 1px solid #e2e5ec; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder,
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #74788d; }

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #9aabff; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #595d6e; }
  .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    color: #74788d; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: #595d6e; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: #74788d;
    background: #f7f8fa;
    border: 1px solid #ebedf2; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
      color: #74788d; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-moz-placeholder {
    color: #74788d;
    opacity: 1; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field:-ms-input-placeholder {
    color: #74788d; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-webkit-input-placeholder {
    color: #74788d; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e2e5ec; }

.select2-container--default .select2-dropdown {
  border: 1px solid #e2e5ec;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15); }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #f7f8fa;
  color: #74788d; }

.select2-container--default .select2-results__option.select2-results__option--highlighted {
  background: #f7f8fa;
  color: #74788d; }

.select2-container--default.select2-container--disabled {
  cursor: not-allowed; }
  .select2-container--default.select2-container--disabled .select2-selection--multiple,
  .select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    background: #f7f8fa;
    border-color: #74788d; }

.select2.select2--air .select2-container--default .select2-selection--single,
.select2.select2--air .select2-container--default .select2-selection--multiple {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15); }

.select2.select2--solid .select2-container--default .select2-selection--multiple,
.select2.select2--solid .select2-container--default .select2-selection--single {
  background-color: #f7f8fa;
  border-color: #ebedf2; }
  .select2.select2--solid .select2-container--default .select2-selection--multiple .select2-selection__placeholder,
  .select2.select2--solid .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #74788d; }

.m-form.m-form--state .is-valid .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default .select2-selection--single {
  border-color: success; }

.m-form.m-form--state .is-valid .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .is-valid .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .is-valid .select2-container--default.select2-container--open .select2-selection--single {
  border-color: success; }

.m-form.m-form--state .is-invalid .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default .select2-selection--single {
  border-color: danger; }

.m-form.m-form--state .is-invalid .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .is-invalid .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .is-invalid .select2-container--default.select2-container--open .select2-selection--single {
  border-color: danger; }