<html>
<head>
<meta charset="utf-8" />
<title>Страница игры</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<!-- Шапка №1 -->
<nav class="navbar navbar-expand-lg header_1">
<div class="container">
<a class="navbar-brand" href="#"><img class="logo" src="img/logo.svg"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-1" aria-controls="header-1" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="header-1">

<div class="col search-header_1">
<input class="form-control" type="text" placeholder="Поиск по магазину...">
<button type="submit" class="search-btn_1"><i class="fas fa-search"></i></button>
</div>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item"><a class="nav-link" href="#">Гарантии</a></li>
<li class="nav-item"><a class="nav-link" href="#">Накопительная скидка</a></li>
<li class="nav-item"><a class="nav-link" href="#">Как купить?</a></li>
<li class="nav-item"><a class="nav-link" href="#">Отзывы</a></li>
<li class="nav-item dropdown">
<a class="nav-link" href="#" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="cur-ico" src="img/rub.svg"> RUB</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="currency">
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/usd.svg"> USD</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/eur.svg"> EUR</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/uah.svg"> UAH</a>
</div>
</li>
</ul>
</div>
</div>
</nav>
<div class="nav-scroller header_1-scroller">
<div class="container">
<nav class="nav nav-underline">
<a class="nav-link" href="#">Каталог</a>
<a class="nav-link" href="#">Скидки</a>
<a class="nav-link" href="#">Топ продаж</a>
<a class="nav-link" href="#">Новинки</a>
<a class="nav-link" href="#">Предзаказы</a>
<div class="ml-md-auto cart-block">
<a class="nav-link cart-link" href="#"><i class="fas fa-shopping-cart"></i> <span class="badge-cart">0</span></a>
</div>
</nav>
</div>
</div>
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Каталог</a></li>
<li class="breadcrumb-item"><a href="#">Steam</a></li>
<li class="breadcrumb-item active" aria-current="page">Предзаказы</li>
</ol>
</nav>
<h3 class="game-title">Купить игру Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition для Steam</h3>
<div class="row game-info">
<div class="col-lg-5">
<div class="game-media">
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
<div class="game-screenshot">
<div class="game-screenshot-list">
<a href="#"><img src="https://steammachine.ru/v/2623180_SYvWfDxhm_s.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="game-data">
<ul class="game-data-list">
<li><span>Жанр:</span> <a target="_blank" href="#">Экшен</a>, <a target="_blank" href="#">Ролевые</a></li>
<li><span>Язык:</span> Русский (Интерфейс) / Английский (Озвучка)</li>
<li><span>Платформа:</span> <a target="_blank" href="#">Неизвестны</a></li>
<li><span>Дата выхода:</span> Уточняется</li>
<li><span>Издатель:</span> <a target="_blank" href="#">Paradox Interactive</a></li>
<li><span>Активация:</span> <a target="_blank" href="#"><i class="fab fa-steam-symbol"></i> Steam</a></li>
<li><span>Особености:</span> 
<div class="row">
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user"></i> Для одного игрока</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-users"></i> Для нескольких игроков</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user-friends"></i> Совместное прохождение</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user-friends"></i> Совместная локальная игра</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-trophy"></i> Достижения Steam</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-gamepad"></i> Контроллер</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-clone"></i> Коллекционные карточки</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-shield-alt"></i> Имеется античит Valve</a></div>
</div>
</li>
</ul>
</div> 
<div class="row">
<div class="col-lg-auto col-price">
<div class="price">
<div class="discount">
<span>1 549</span> <sup>руб</sup>
<div>-3%</div>
</div>
<div class="value">1 499<sup>руб</sup></div>
<div class="economy">
Вы экономите <span>50 <sup>руб</sup></span>
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Это разница между нашей ценой и рекомендуемой розничной ценой которую видите в других магазинах"></i>
</div>
</div>
</div>
<div class="col-lg-auto">
<div class="btn-buy">
<button>Купить</button>
</div>
</div>
<div class="col-lg-auto">
<div class="add-cart">
<a href="#">Добавить в корзину</a>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/apps.js"></script>
</body>
</html>
