<html>
<head>
<meta charset="utf-8" />
<title>Страница игры</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg header_1">
<div class="container">
<a class="navbar-brand" href="index.html"><img class="logo" src="img/logo.svg"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-1" aria-controls="header-1" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="header-1">

<div class="col search-header_1">
<input class="form-control" type="text" placeholder="Поиск по магазину...">
<button type="submit" class="search-btn_1"><i class="fas fa-search"></i></button>
</div>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item"><a class="nav-link" href="garant.html">Гарантии</a></li>
<li class="nav-item"><a class="nav-link" href="discount.html">Накопительная скидка</a></li>
<li class="nav-item"><a class="nav-link" href="delivery.html">Доставка</a></li>
<li class="nav-item"><a class="nav-link" href="reviews.html">Отзывы</a></li>
<li class="nav-item dropdown">
<a class="nav-link" href="#" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="cur-ico" src="img/rub.svg"> RUB</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="currency">
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/usd.svg"> USD</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/eur.svg"> EUR</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/uah.svg"> UAH</a>
</div>
</li>
</ul>
</div>
</div>
</nav>
<div class="nav-scroller header_1-scroller">
<div class="container">
<nav class="nav nav-underline">
<a class="nav-link" href="games.html">Каталог</a>
<a class="nav-link" href="games.html">Скидки</a>
<a class="nav-link" href="games.html">Топ продаж</a>
<a class="nav-link" href="games.html">Новинки</a>
<a class="nav-link" href="games.html">Предзаказы</a>
<div class="ml-md-auto cart-block">
<a class="nav-link cart-link" href="cart.html"><i class="icon-cart-2"></i> <span class="badge-cart">0</span></a>
</div>
</nav>
</div>
</div>
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="games.html">Каталог</a></li>
<li class="breadcrumb-item"><a href="games.html">Steam</a></li>
<li class="breadcrumb-item active">Предзаказы</li>
</ol>
</nav>
<h3 class="game-title">Купить игру Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition для Steam</h3>
<div class="row game-info">
<div class="col-lg-5">
<div class="game-media">
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
<div class="game-screenshot">
<div class="game-screenshot-list">
<a href="#"><img src="https://steammachine.ru/v/2623180_SYvWfDxhm_s.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="game-data">
<ul class="game-data-list">
<li><span>Жанр:</span> <a target="_blank" href="#">Экшен</a>, <a target="_blank" href="#">Ролевые</a></li>
<li><span>Язык:</span> Русский (Интерфейс) / Английский (Озвучка)</li>
<li><span>Платформа:</span> <a target="_blank" href="#">Неизвестны</a></li>
<li><span>Дата выхода:</span> Уточняется</li>
<li><span>Издатель:</span> <a target="_blank" href="#">Paradox Interactive</a></li>
<li><span>Активация:</span> <a target="_blank" href="#"><i class="icon-steam"></i> Steam</a></li>
<li><span>Особености:</span> 
<div class="row">
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-user"></i> Для одного игрока</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-users"></i> Для нескольких игроков</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-users-2"></i> Совместное прохождение</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-users-3"></i> Совместная локальная игра</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-trophy"></i> Достижения Steam</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-gamepad"></i> Контроллер</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-card"></i> Коллекционные карточки</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="icon-VAC"></i> Имеется античит Valve</a></div>
</div>
</li>
</ul>
</div> 
<div class="row">
<div class="col-lg-auto col-price">
<div class="price">
<div class="discount">
<span>1 549</span> <sup>руб</sup>
<div>-3%</div>
</div>
<div class="value">1 499<sup>руб</sup></div>
<div class="economy">
Вы экономите <span>50 <sup>руб</sup></span>
<i class="icon-question-solid" data-toggle="tooltip" data-placement="top" title="Это разница между нашей ценой и рекомендуемой розничной ценой которую видите в других магазинах"></i>
</div>
</div>
</div>
<div class="col-lg-auto">
<div class="btn-buy">
<button>Купить</button>
</div>
</div>
<div class="col-lg-auto">
<div class="add-cart">
<a href="#">Добавить в корзину</a>
</div>
</div>
</div>
</div>
</div>
<div class="row game-description">
<div class="col-lg">
<div class="game-preorder">
<h5>Бонусы за предзаказ</h5>
<img src="https://steammachine.ru/block/bonus/1553943670_4951.png?rand=987">
<ul>
<li>Сделайте предзаказ Vampire: The Masquerade - Bloodlines 2 сегодня, чтобы получить эксклюзивный ранний доступ к выходящему одновременно с игрой комплекту First Blood Pack.</li>
</ul>
</div>
<div class="game-bonus">
<h5>Состав издания</h5>
<img src="https://steammachine.ru/block/edition/1553944056_6838-318x416.jpg?rand=805">
<ul>
<li>Игра Vampire: The Masquerade - Bloodlines 2.</li>
<li>Сезонный абонемент Season of the Wolf, в который входит: Два сюжетных дополнения, которые откроют вам всю подноготную Сиэтла и познакомят с самыми невероятными представителями Мира Тьмы. Одно крупное расширение, которое принесет в Сиэтл самого страшного врага вампиров. Также включает облик оружия «Дубинка» (доступно в первый день).</li>
<li>Unsanctioned Blood Pack, в который входят следующие уникальные предметы: официальный артбук. Костюм Джека. Костюм Жанетт. Облик оружия «Оторванная рука». Стол из саркофага. Берет Барышни. Портрет семейства Ворман. Знак «Стоп». Внутриигровой комментарий от разработчиков (рассказывает Брайан Митсода).</li>
</ul>
</div>
</div>
<div class="col-lg-8">
<div class="game-tabs">
<div class="alert alert-blue" role="alert">
<h6>Игра с ранним доступом</h6>
Приобретите игру и начинайте — примите участие в развитии этой игры.
</div>
<div class="alert alert-pink" role="alert">
<h6>Загружаемый контент:</h6>
В состав загружаемого дополнения не входит основная игра. Для активации вам необходимо купить <a target="blank_" href="http://steambuy.com/steam/borderlands-the-pre-sequel/">Borderlands: The Pre-Sequel</a>
</div>
<div class="alert alert-yellow" role="alert">
<ul>
<li>Прежде чем пройти по купленной ссылке - убедитесь, что авторизованы в нужном аккаунте стима в браузере на <a target="blank_" href="https://store.steampowered.com/account/">store.steampowered.com</a>.</li>
<li>Этот товар может быть использован только в странах: Армения, Азербайджан, Республика Беларусь, Грузия, Киргизстан, Казахстан, Республика Молдова, Таджикистан, Туркменистан, Узбекистан, Украина, Россия.</li>
</ul>
</div>
<div class="alert alert-green" role="alert">
<h6>Region Free/Global</h6>
Данный товар можно активировать в любой стране мира. В том числе Россия, страны СНГ, Европа и так далее.
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="description-tab" data-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание</a>
</li>
<li class="nav-item">
<a class="nav-link" id="description-tab" data-toggle="pill" href="#set" role="tab" aria-controls="set" aria-selected="true">В комплект входят</a>
</li>
<li class="nav-item">
<a class="nav-link" id="derequest-tab" data-toggle="pill" href="#derequest" role="tab" aria-controls="derequest" aria-selected="false">Системные требования</a>
</li>
<li class="nav-item">
<a class="nav-link" id="activation-tab" data-toggle="pill" href="#activation" role="tab" aria-controls="activation" aria-selected="false">Активация</a>
</li>
</ul>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
Вас превратили в вампира против всех правил, и жестокая война за кровавый бизнес Сиэтла теперь пылает с новой силой. 
Чтобы выжить, вам придется вступать в опасные союзы с хозяевами этого города и в конце концов раскрыть заговор, что 
разжег кровавое противостояние между вампирами Сиэтла.
<br><br>
Станьте настоящим вампиром
<br>
Погрузитесь в Мир Тьмы и воплотите свою мечту о вампирской жизни в городе, полном неоднозначных персонажей, следящих за каждым вашим 
решением. Главный козырь в этой динамичной игре с боевой системой, ориентированной на ближний бой, — вы сами и уникальные дисциплины
вашего вампирского клана. Ваша сила будет только расти, но не забывайте поддерживать Маскарад и сохранять человечность...
или готовьтесь к последствиям.
<br><br>
Познакомьтесь с темной стороной Сиэтла и постарайтесь выжить
<br>
Сиэтлом всегда 
управляли вампиры. Отправляйтесь на охоту на улицы Изумрудного города, детально воссозданные в антураже Мира Тьмы. На 
своем пути вы повстречаете как древних вампиров, что застали еще появление города, так и молодую кровь, жаждущую изменить 
старый порядок деньгами корпораций. Выбирайте союзников с умом и не забывайте: здесь каждый себе на уме.
<br><br>
Заключайте опасные союзы
<br>
В Сиэтле пылает война торговцев кровью, и остаться в стороне вам не удастся. У всех участников противоборства
— свои особенности и тайны. Отношение окружающих будет напрямую зависеть от вашего выбора, но помните, что рано или поздно 
всем придется замарать руки.
<br><br>
Откройте новую главу захватывающей истории
<br>
Над сюжетом Vampire: The Masquerade® - Bloodlines™ 2 работали сценаристы, стоявшие за созданием оригинальной игры. 
Встречайте дух классической Bloodlines и даже некоторых ее персонажей в новой истории.
</div>
<div class="tab-pane fade" id="set" role="tabpanel" aria-labelledby="derequest-tab">
<div class="set-list">
<a href="#">
<div class="row set">
<div class="col-auto align-self-center mini-poster"><img src="https://steammachine.ru/goods_image/2081227-110x52.png"></div>
<div class="col align-self-center">Painkiller Hell & Damnation</div>
<div class="col-auto align-self-center">1 499 <sup>руб</sup></div>
</div>
</a>
<a href="#">
<div class="row set">
<div class="col-auto align-self-center mini-poster"><img src="https://steammachine.ru/collections/229310-110x52.jpg"></div>
<div class="col align-self-center">Painkiller Hell & Damnation: City Critters</div>
<div class="col-auto align-self-center">299 <sup>руб</sup></div>
</div>
</a>
<div class="row set">
<div class="col-auto align-self-center mini-poster"><img src="https://steammachine.ru/collections/219136-110x52.jpg"></div>
<div class="col align-self-center">Painkiller Hell & Damnation: Satan Claus DLC</div>
</div>
<div class="row set">
<div class="col-auto align-self-center mini-poster"><img src="https://steammachine.ru/collections/229210-110x52.jpg"></div>
<div class="col align-self-center">Painkiller Hell & Damnation: The Clock Strikes Meat Night</div>
</div>
<a href="#">
<div class="row set">
<div class="col-auto align-self-center mini-poster"><img src="https://steammachine.ru/goods_image/1477574-110x52.png"></div>
<div class="col align-self-center">Painkiller Overdose</div>
<div class="col-auto align-self-center">45 <sup>руб</sup></div>
</div>
</a>
</div>
</div>
<div class="tab-pane fade" id="derequest" role="tabpanel" aria-labelledby="derequest-tab">
<h6>Минимальные системные требования:</h6>
<p>Поддерживаются только 64-разрядные версии Windows.</p>
<ul class="request">
<li><span>OC</span>: Windows Vista, Windows 7, Windows 8, Windows 10</li>
<li><span>Процессор</span>: 2.4 ГГц</li>
<li><span>Оперативная Память</span>: 4 ГБ</li>
<li><span>Видеокарта</span>: с объемом видеопамяти не менее 1024 МБ</li>
<li><span>DirectX(R)</span>: 10</li>
<li><span>Жесткий диск</span>: 72 ГБ свободного места</li>
</ul>
<p class="request-small">Если вы не разбираетесь в технической информации своего ПК, <a href="https://cpuz.ru">скачайте программу CPU-Z</a>. CPU-Z предоставит вам подробную информацию об основных компонентах системы - процессор, оперативную память, видеокарту, установленные в системе, которые потом вы сможете сравнить с минимальными требованиями игры.</p>
</div>
<div class="tab-pane fade" id="activation" role="tabpanel" aria-labelledby="activation-tab">
<div class="activation">
<ul>
<li>Получите оплаченный товар в разделе <a href="https://www.oplata.info/info/"> Мои покупки</a></li>
<li>Если не установлен Steam клиент, <a href="https://cdn.steampowered.com/download/SteamInstall.msi">скачайте</a> и установите его.</li>
<li>Войдите в свой аккаунт Steam или <a href="https://store.steampowered.com/login/">зарегистрируйте</a> новый, если у вас его еще нет.</li>
<li>Перейдите в раздел «Игры» и выберите там «Активировать через Steam...».</li>
<li>Введите ключ активации (для его получения необходимо <strong>купить Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</strong>).</li>
<li>После этого игра отобразится в разделе «Библиотека», и вы сможете <strong>скачать Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</strong>.</li>
</ul>
</div>
<p class="activation-small">ВНИМАНИЕ! Способ передачи игры покупателю (ключ или гифт) может меняться без предварительного предупреждения. Вы в любом случае получаете игру на свой STEAM-аккаунт. </p>
</div>
</div>
</div>
<div class="reviews">
<h5>Отзывы (53)</h5>
<div class="alert alert-light alert-login" role="alert">
<span>Войдите, чтобы оставлять отзывы. </span>Войти через 
<a class="vk-login" href="#"><i class="icon-vk"></i></a>
<a class="steam-login" href="#"><i class="icon-steam"></i></a>
<a class="fb-login" href="#"><i class="icon-fb"></i></a>
<a class="google-login" href="#"><i class="icon-google"></i></a>
</div>
<div class="form-group">
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ваш отзыв..."></textarea>
</div>
<div class="btn-reviews">
<button type="submit" class="btn">Добавить отзыв</button>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Редактировать</a>
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Насколько я помню Blood Moon Edition дает ранний доступ к игре, ключ тоже дадут раньше?
<div class="media mt-3 reviews-reply">
<img src="https://pp.userapi.com/c840336/v840336198/68ad8/O69kEJ2Mpjo.jpg?ava=1" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0">SteamBuy <span>27.04.2019 в 11:30</span></h6>
Если будет ранний доступ, то и у нас тоже.
</div>
</div>
<div class="media mt-3 reviews-reply">
<img src="https://gabestore.ru/static/image/avatar/11.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<div class="form-group">
<textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ваш ответ..."></textarea>
</div>
<div class="btn-reviews">
<button type="submit" class="btn">Ответить</button>
</div>
</div>
</div>
</div>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/1.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0"><a href="#" target="_blank">Сэм Бейкер</a> <span>08.04.2019 в 10:01</span></h6>
А ключик сейчас дают или с релизом?
</div>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/2.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0"><a href="#" target="_blank">Маркус Кларк</a> <span>07.04.2019 в 12:57</span></h6>
ну ничего себе оперативно как всегда
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
<div class="container">
<div class="row">
<div class="col-lg-3">
<img class="logo" src="img/logo.svg">
<div class="social-link">
<a class="vk" href="#"><i class="icon-vk"></i></a>
<a class="fb" href="#"><i class="icon-fb"></i></a>
<a class="tw" href="#"><i class="icon-tw"></i></a>
<a class="yt" href="#"><i class="icon-youtube"></i></a>
</div>
</div>
<div class="col-lg">
<p>Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения, которые указаны в описании товара или при оформлении заказа - будьте внимательны!</p>
<p>Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive, Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другие</p>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/apps.js"></script>
</body>
</html>
