<html>
<head>
<meta charset="utf-8" />
<title>Страница игры</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg header_1">
<div class="container">
<a class="navbar-brand" href="#"><img class="logo" src="img/logo.svg"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-1" aria-controls="header-1" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="header-1">

<div class="col search-header_1">
<input class="form-control" type="text" placeholder="Поиск по магазину...">
<button type="submit" class="search-btn_1"><i class="fas fa-search"></i></button>
</div>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item"><a class="nav-link" href="#">Гарантии</a></li>
<li class="nav-item"><a class="nav-link" href="#">Накопительная скидка</a></li>
<li class="nav-item"><a class="nav-link" href="#">Как купить?</a></li>
<li class="nav-item"><a class="nav-link" href="#">Отзывы</a></li>
<li class="nav-item dropdown">
<a class="nav-link" href="#" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="cur-ico" src="img/rub.svg"> RUB</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="currency">
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/usd.svg"> USD</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/eur.svg"> EUR</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/uah.svg"> UAH</a>
</div>
</li>
</ul>
</div>
</div>
</nav>
<div class="nav-scroller header_1-scroller">
<div class="container">
<nav class="nav nav-underline">
<a class="nav-link" href="#">Каталог</a>
<a class="nav-link" href="#">Скидки</a>
<a class="nav-link" href="#">Топ продаж</a>
<a class="nav-link" href="#">Новинки</a>
<a class="nav-link" href="#">Предзаказы</a>
<div class="ml-md-auto cart-block">
<a class="nav-link cart-link" href="#"><i class="fas fa-shopping-cart"></i> <span class="badge-cart">0</span></a>
</div>
</nav>
</div>
</div>
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Каталог</a></li>
<li class="breadcrumb-item"><a href="#">Steam</a></li>
<li class="breadcrumb-item active" aria-current="page">Предзаказы</li>
</ol>
</nav>
<h3 class="game-title">Купить игру Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition для Steam</h3>
<div class="row game-info">
<div class="col-lg-5">
<div class="game-media">
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
<div class="game-screenshot">
<div class="game-screenshot-list">
<a href="#"><img src="https://steammachine.ru/v/2623180_SYvWfDxhm_s.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_87015538536216.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_50015538536215.jpg"></a>
<a href="#"><img src="https://steammachine.ru/gallery/2623180_15515538536225.jpg"></a>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="game-data">
<ul class="game-data-list">
<li><span>Жанр:</span> <a target="_blank" href="#">Экшен</a>, <a target="_blank" href="#">Ролевые</a></li>
<li><span>Язык:</span> Русский (Интерфейс) / Английский (Озвучка)</li>
<li><span>Платформа:</span> <a target="_blank" href="#">Неизвестны</a></li>
<li><span>Дата выхода:</span> Уточняется</li>
<li><span>Издатель:</span> <a target="_blank" href="#">Paradox Interactive</a></li>
<li><span>Активация:</span> <a target="_blank" href="#"><i class="fab fa-steam-symbol"></i> Steam</a></li>
<li><span>Особености:</span> 
<div class="row">
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user"></i> Для одного игрока</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-users"></i> Для нескольких игроков</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user-friends"></i> Совместное прохождение</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-user-friends"></i> Совместная локальная игра</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-trophy"></i> Достижения Steam</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-gamepad"></i> Контроллер</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-clone"></i> Коллекционные карточки</a></div>
<div class="col-lg-6"><a target="_blank" href="#"><i class="fas fa-shield-alt"></i> Имеется античит Valve</a></div>
</div>
</li>
</ul>
</div> 
<div class="row">
<div class="col-lg-auto col-price">
<div class="price">
<div class="discount">
<span>1 549</span> <sup>руб</sup>
<div>-3%</div>
</div>
<div class="value">1 499<sup>руб</sup></div>
<div class="economy">
Вы экономите <span>50 <sup>руб</sup></span>
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Это разница между нашей ценой и рекомендуемой розничной ценой которую видите в других магазинах"></i>
</div>
</div>
</div>
<div class="col-lg-auto">
<div class="btn-buy">
<button>Купить</button>
</div>
</div>
<div class="col-lg-auto">
<div class="add-cart">
<a href="#">Добавить в корзину</a>
</div>
</div>
</div>
</div>
</div>
<div class="row game-description">
<div class="col-lg">
<div class="game-preorder">
<h5>Бонусы за предзаказ</h5>
<img src="https://steammachine.ru/block/bonus/1553943670_4951.png?rand=987">
<ul>
<li>Сделайте предзаказ Vampire: The Masquerade - Bloodlines 2 сегодня, чтобы получить эксклюзивный ранний доступ к выходящему одновременно с игрой комплекту First Blood Pack.</li>
</ul>
</div>
<div class="game-bonus">
<h5>Состав издания</h5>
<img src="https://steammachine.ru/block/edition/1553944056_6838-318x416.jpg?rand=805">
<ul>
<li>Игра Vampire: The Masquerade - Bloodlines 2.</li>
<li>Сезонный абонемент Season of the Wolf, в который входит: Два сюжетных дополнения, которые откроют вам всю подноготную Сиэтла и познакомят с самыми невероятными представителями Мира Тьмы. Одно крупное расширение, которое принесет в Сиэтл самого страшного врага вампиров. Также включает облик оружия «Дубинка» (доступно в первый день).</li>
<li>Unsanctioned Blood Pack, в который входят следующие уникальные предметы: официальный артбук. Костюм Джека. Костюм Жанетт. Облик оружия «Оторванная рука». Стол из саркофага. Берет Барышни. Портрет семейства Ворман. Знак «Стоп». Внутриигровой комментарий от разработчиков (рассказывает Брайан Митсода).</li>
</ul>
</div>
</div>
<div class="col-lg-8">
<div class="game-tabs">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Описание</a>
</li>
<li class="nav-item">
<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Системные требования</a>
</li>
<li class="nav-item">
<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Активация</a>
</li>
</ul>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
Вас превратили в вампира против всех правил, и жестокая война за кровавый бизнес Сиэтла теперь пылает с новой силой. 
Чтобы выжить, вам придется вступать в опасные союзы с хозяевами этого города и в конце концов раскрыть заговор, что 
разжег кровавое противостояние между вампирами Сиэтла.
<br><br>
Станьте настоящим вампиром
<br>
Погрузитесь в Мир Тьмы и воплотите свою мечту о вампирской жизни в городе, полном неоднозначных персонажей, следящих за каждым вашим 
решением. Главный козырь в этой динамичной игре с боевой системой, ориентированной на ближний бой, — вы сами и уникальные дисциплины
вашего вампирского клана. Ваша сила будет только расти, но не забывайте поддерживать Маскарад и сохранять человечность...
или готовьтесь к последствиям.
<br><br>
Познакомьтесь с темной стороной Сиэтла и постарайтесь выжить
<br>
Сиэтлом всегда 
управляли вампиры. Отправляйтесь на охоту на улицы Изумрудного города, детально воссозданные в антураже Мира Тьмы. На 
своем пути вы повстречаете как древних вампиров, что застали еще появление города, так и молодую кровь, жаждущую изменить 
старый порядок деньгами корпораций. Выбирайте союзников с умом и не забывайте: здесь каждый себе на уме.
<br><br>
Заключайте опасные союзы
<br>
В Сиэтле пылает война торговцев кровью, и остаться в стороне вам не удастся. У всех участников противоборства
— свои особенности и тайны. Отношение окружающих будет напрямую зависеть от вашего выбора, но помните, что рано или поздно 
всем придется замарать руки.
<br><br>
Откройте новую главу захватывающей истории
<br>
Над сюжетом Vampire: The Masquerade® - Bloodlines™ 2 работали сценаристы, стоявшие за созданием оригинальной игры. 
Встречайте дух классической Bloodlines и даже некоторых ее персонажей в новой истории.
</div>
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
<h6>Минимальные системные требования:</h6>
<p>Поддерживаются только 64-разрядные версии Windows.</p>
<ul class="request">
<li><span>OC</span>: Windows Vista, Windows 7, Windows 8, Windows 10</li>
<li><span>Процессор</span>: 2.4 ГГц</li>
<li><span>Оперативная Память</span>: 4 ГБ</li>
<li><span>Видеокарта</span>: с объемом видеопамяти не менее 1024 МБ</li>
<li><span>DirectX(R)</span>: 10</li>
<li><span>Жесткий диск</span>: 72 ГБ свободного места</li>
</ul>
<p class="request-small">Если вы не разбираетесь в технической информации своего ПК, <a href="https://cpuz.ru">скачайте программу CPU-Z</a>. CPU-Z предоставит вам подробную информацию об основных компонентах системы - процессор, оперативную память, видеокарту, установленные в системе, которые потом вы сможете сравнить с минимальными требованиями игры.</p>
</div>
<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
<div class="activation">
<ul>
<li>Получите оплаченный товар в разделе <a href="https://www.oplata.info/info/"> Мои покупки</a></li>
<li>Если не установлен Steam клиент, <a href="https://cdn.steampowered.com/download/SteamInstall.msi">скачайте</a> и установите его.</li>
<li>Войдите в свой аккаунт Steam или <a href="https://store.steampowered.com/login/">зарегистрируйте</a> новый, если у вас его еще нет.</li>
<li>Перейдите в раздел «Игры» и выберите там «Активировать через Steam...».</li>
<li>Введите ключ активации (для его получения необходимо <strong>купить Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</strong>).</li>
<li>После этого игра отобразится в разделе «Библиотека», и вы сможете <strong>скачать Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</strong>.</li>
</ul>
</div>
<p class="activation-small">ВНИМАНИЕ! Способ передачи игры покупателю (ключ или гифт) может меняться без предварительного предупреждения. Вы в любом случае получаете игру на свой STEAM-аккаунт. </p>
</div>
</div>
</div>
<div class="reviews">
<h5>Отзывы (53)</h5>
<div class="alert alert-light alert-login" role="alert">
<span>Войдите, чтобы оставлять отзывы. </span>Войти через 
<a class="vk-login" href="#"><i class="fab fa-vk"></i></a>
<a class="steam-login" href="#"><i class="fab fa-steam-symbol"></i></a>
<a class="fb-login" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="google-login" href="#"><i class="fab fa-google"></i></a>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0">Кратос Феникс <span>27.04.2019 в 11:24</span></h6>
Насколько я помню Blood Moon Edition дает ранний доступ к игре, ключ тоже дадут раньше?
<div class="media mt-3 reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0">Кратос Феникс <span>27.04.2019 в 11:24</span></h6>
Насколько я помню Blood Moon Edition дает ранний доступ к игре, ключ тоже дадут раньше?
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/apps.js"></script>
</body>
</html>
