<html>
<head>
<meta charset="utf-8" />
<title>Отзывы</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg header_3">
<div class="container">
<a class="navbar-brand" href="index.html"><img class="logo" src="img/logo.svg"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-3" aria-controls="header-3" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse header-link_3">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link" href="garant.html">Гарантии</a></li>
<li class="nav-item"><a class="nav-link" href="discount.html">Накопительная скидка</a></li>
<li class="nav-item"><a class="nav-link" href="delivery.html">Доставка</a></li>
<li class="nav-item"><a class="nav-link" href="reviews.html">Отзывы</a></li>
</ul>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item dropdown">
<a class="nav-link" href="#" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="cur-ico" src="img/rub.svg"> RUB</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="currency">
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/usd.svg"> USD</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/eur.svg"> EUR</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/uah.svg"> UAH</a>
</div>
</li>
<li class="nav-item"><a class="nav-link cart-link" href="cart.html"><i class="icon-cart"></i> <span class="badge-cart">0</span></a></li>
</ul>
</div>
</div>
</nav>
<nav class="navbar navbar-expand-lg header_3_menu">
<div class="container">
<div class="collapse navbar-collapse" id="header-3">
<div class="col search-header_3">
<input class="form-control" type="text" placeholder="Поиск по магазину...">
<button type="submit" class="search-btn_3"><i class="fas fa-search"></i></button>
</div>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item"><a class="nav-link" href="games.html">Каталог</a></li>
<li class="nav-item"><a class="nav-link" href="games.html">Скидки</a></li>
<li class="nav-item"><a class="nav-link" href="games.html">Топ продаж</a></li>
<li class="nav-item"><a class="nav-link" href="games.html">Новинки</a></li>
<li class="nav-item"><a class="nav-link" href="games.html">Предзаказы</a></li>
</ul>
</div>
</div>
</nav>
<div class="container">
<h4 class="page-title">Отзывы</h4>
<div class="reviews page-reviews">
<div class="alert alert-light alert-login" role="alert">
<span>Войдите, чтобы оставлять отзывы. </span>Войти через 
<a class="vk-login" href="#"><i class="icon-vk"></i></a>
<a class="steam-login" href="#"><i class="icon-steam"></i></a>
<a class="fb-login" href="#"><i class="icon-fb"></i></a>
<a class="google-login" href="#"><i class="icon-google"></i></a>
</div>
<div class="form-group">
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ваш отзыв..."></textarea>
</div>
<div class="btn-reviews">
<button type="submit" class="btn">Добавить отзыв</button>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Редактировать</a>
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Насколько я помню Blood Moon Edition дает ранний доступ к игре, ключ тоже дадут раньше?
<div class="media mt-3 reviews-reply">
<img src="https://pp.userapi.com/c840336/v840336198/68ad8/O69kEJ2Mpjo.jpg?ava=1" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0">SteamBuy <span>27.04.2019 в 11:30</span></h6>
Если будет ранний доступ, то и у нас тоже.
</div>
</div>
<div class="media mt-3 reviews-reply">
<img src="https://gabestore.ru/static/image/avatar/11.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<div class="form-group">
<textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ваш ответ..."></textarea>
</div>
<div class="btn-reviews">
<button type="submit" class="btn">Ответить</button>
</div>
</div>
</div>
</div>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/1.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0"><a href="#" target="_blank">Сэм Бейкер</a> <span>08.04.2019 в 10:01</span></h6>
А ключик сейчас дают или с релизом?
</div>
</div>
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/2.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<a class="reply" href="#">Ответить</a>
<h6 class="mt-0"><a href="#" target="_blank">Маркус Кларк</a> <span>07.04.2019 в 12:57</span></h6>
ну ничего себе оперативно как всегда
</div>
</div>
</div>
</div>
<div class="footer">
<div class="container">
<div class="row">
<div class="col-lg-3">
<img class="logo" src="img/logo.svg">
<div class="social-link">
<a class="vk" href="#"><i class="icon-vk"></i></a>
<a class="fb" href="#"><i class="icon-fb"></i></a>
<a class="tw" href="#"><i class="icon-tw"></i></a>
<a class="yt" href="#"><i class="icon-youtube"></i></a>
</div>
</div>
<div class="col-lg">
<p>Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения, которые указаны в описании товара или при оформлении заказа - будьте внимательны!</p>
<p>Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive, Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другие</p>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/apps.js"></script>
</body>
</html>
