@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "switch.css";

body {font-family: 'Roboto', sans-serif;color: #130f40;background: #f5f5f5;font-size: 14px;}

.header {background: #FF4747;text-align: center;padding-top: 28px;padding-bottom: 173px;}
.header img {height: 120px;}
.bg-dark {background: #FF4747!important;}
.search-block {background: #fff;padding: 15px 0px;box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);margin-top: -103px;margin-bottom: 30px;}
.search-block .col-category {min-width: 200px;}
.search-block .row {padding: 0px 30px;}
.search-block .col-lg, .search-block .col-lg-auto {padding-right: 0px;padding-left: 0px;}
.search-block .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {height: 33px;border-radius: 0px;background-color: #fff;}
.search-block .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {margin: 5px 0 0 6px;border-radius: 0px;}
.select2-container--bootstrap .select2-selection.form-control {border-radius: 0px;}
.btn-search {background-color: #FF4747;color: fff;border-radius: 0px;font-size: 14px!important;margin-top: 15px;}
.btn-search:hover {background-color: #e63e3e;}
.search-block .form-control {border-bottom: solid 1px #e2e5ec;border-top: solid 1px #e2e5ec;border-radius: 0px;font-size: 14px!important;border-right: none;border-left: none;}
.form-control-search {border-left: solid 1px #e2e5ec!important;}
.form-control-category {border-left: solid 1px #edf0f7!important;}
.form-control-contry {min-width: 200px;border-left: solid 1px #edf0f7!important;border-right: solid 1px #e2e5ec!important;}
.select2-results {font-size: 14px;}
.search-block a {color: #666;}
.search-block a:hover {color: #FF4747;}
.search-block .filter {border-top: dashed 1px #e2e5ec;margin-top: 15px;padding-top: 15px;}
.select2-container--bootstrap .select2-selection--single {height: 35px;}
.filter .col-lg-auto, .filter .col-lg-1 {padding-right: 15px;}
.filter .col-lg-auto:last-child {padding-right: 15px;}
.filter .text {margin-top: 5.5px;padding-right: 0px;}
.filter .row {padding: 0px 15px;}
.form-control-price {border: 1px solid #e2e5ec!important;}
.form-control-item {border: 1px solid #e2e5ec!important;}
.container-fluid {padding-left: 30px;padding-right: 30px;}
.navbar-nav .nav-item {color: rgba(255, 255, 255, 0.7)!important;}
.navbar-nav .nav-item:hover>.nav-link {color: #fff;}
.avatar {width: 23px;border-radius: 50px;}

.bsnav-light .nav-item.dropdown>.navbar-nav, .bsnav-light .nav-item.dropdown>.navbar-nav .navbar-nav {border-radius: 0px;box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);padding: 10px;}
.dropdown .navbar-nav .nav-link {color: #959cb6!important;}
.nav-login {background: #e03d3d;padding: 10px 15px!important;margin-top: 5px;color: #fff!important;}
.nav-login:hover {background: #d13a3a;}
.btn:focus, .btn.focus {outline: 0;box-shadow: none;}
.form-control:focus {box-shadow: none;}

.card {border:none;box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);border-radius: 0px;}
.card-title {text-align: center;color: #595d6e;margin-bottom: 1rem;}
.card-title span {color: #959cb6;text-decoration: line-through;font-size: 12px;display: block;margin-top: 5px;}
.card-deck {margin-bottom: 30px;}
.card-text {font-size: 12px;}
.card-img-top {border-radius: 0px;}
.item-info {text-align: center;border-top: dashed 1px #e2e5ec;padding-top: 1.25rem;}
.item-info span {margin-right: 10px;padding-right:10px;border-right: 1px solid #e2e5ec;color: #959cb6;}
.item-info span:last-child {border: none;margin-right: 0px;padding-right:0px;}
.card-footer {background: #fff;border: 0px;padding-bottom: 1.25rem;padding-top: 0px;}
.card-body {padding-bottom: 0px;}

.btn-filter {background-color: #FF4747;color: fff;border-radius: 0px;margin-bottom: 15px;}
.btn-filter:hover {background-color: #e63e3e;}
.card-footer {text-align: center;}
.filter-link {color: #666;}
.filter-link:hover {color: #FF4747;}
.col-filter {margin-left: 15px;}
.logo-mobile {display: none;}
.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {color: #fff;}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {color: #fff;}
.navbar-toggler:not([disabled]):not(.disabled) {outline: none;}
.dropdown-menu {border: none;box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);}
.dropdown-item {color: #959cb6;padding: 5px 15px;}
.dropdown-item:focus, .dropdown-item:hover {color: #959cb6;}
.dropdown-item.active, .dropdown-item:active {background: #f8f9fa;}
.dropdown-divider {border-top: dashed 1px #e2e5ec;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #FF4747;}
.custom-checkbox .custom-control-label::before {border-radius: 0px;}
.custom-control-input:focus ~ .custom-control-label::before {box-shadow: none;}
.nav-user {margin-top: 7px;}
.card-text {text-align: justify;}
.card-text a {color: #130f40;}
.card-text a:hover {color: #FF4747;}
.favorite {color: #959cb6;font-size: 16px;}
.favorite:hover {color: #374afb;}
.favorite-del {color: #FF4747;font-size: 16px;}
.favorite-del:hover {color: #374afb;}
.admin-header {background: #181824;}
.navbar-brand {display: none;}
.alert {border-radius: 0px;margin-bottom: 30px;}
.page-item.active .page-link {background-color: #FF4747;border-color: #FF4747;}
.page-link {color: #595d6e;}
.pagination {margin-bottom: 30px;}
.alert-dismissible .close:focus {outline: none;}
.custom-control-label {padding-top: 2px;}
.cashback {font-size: 10px;font-weight: normal;border-radius: 0px;padding: 5px;cursor: pointer;}
.item-block {margin-bottom: 30px;}
.modal-body .form-control {border-radius: 0px;}
.modal-body .alert {margin-bottom: 15px;}
.nav-user .badge {padding: 5px 8px;font-weight: normal;border-radius: 0px;font-size: 10px;}
@media (max-width: 992px) {
    .logo {display: none;}
    .logo-mobile {height: 30px;display: block;}
    .header {padding-top: 0px;padding-bottom: 103px;}
    .navbar-toggler {outline: none;}
    .bg-dark {padding-bottom: 15px;padding-top: 15px;}
    .nav-login {text-align: center;}
    .navbar-expand-lg .navbar-nav .nav-link, .navbar-nav .nav-link {padding: 15px 0px;}
    .navbar-collapse {margin-top: 15px;}
    .search-block .form-control {border: solid 1px #e2e5ec;margin-bottom: 15px;}
    .form-control-category, .form-control-contry {border: solid 1px #e2e5ec!important;}
    .col-list {text-align: center;margin-top: 15px;}
    .filter .text {margin-bottom: 15px;padding-left: 15px;}
    .col-checkbox {margin-left: 15px;}
    .search-block .col-filter .form-control {margin-bottom: 0px!important;}
    .col-filter {margin-bottom: 10px;}
    .nav-user {margin-top: 0px;}
    .container-fluid {padding-left: 15px;padding-right: 15px;}
    .search-block {margin-bottom: 15px;}
    .navbar-brand {display: block;}
    .alert {margin-bottom: 15px;}
    .pagination {margin-bottom: 15px;}
    .container {max-width: 100%!important;}
    .item-block {margin-bottom: 15px;}
}