.logo {height: 47px;}
.header {background-color: #fff;}
.header-scroller {background-color: #3a3f45;text-transform: uppercase;}
.header-scroller .container {padding: 0px;}
.search-header {padding: 0px;}
.search-header .form-control {border: 2px solid #39bee7;font-size: 14px;}
.search-header .form-control:focus {border: 2px solid #2ea1c4;}
.search-btn_1 {position: absolute;top: 11;right: 10;background: none;border: none;color: #39bee7;}
.search-btn_1:hover {color: #2ea1c4;cursor: pointer;}
.search-btn_1:focus {outline: none;}
.cur-ico {height: 14px;width: 21px;}
.header .nav-link {}
.header .nav-link:hover {}
