@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";


body {background: #f5f5f5;font-family: 'Play', sans-serif;font-size: 14px;color: #252525;}
a {color: #636363;}
a:hover {color: #414141;}

.logo {height: 47px;}
/* Шапка №1 */
.header_1 {background-color: #fff;}
.header_1-scroller {background-color: #3a3f45;text-transform: uppercase;margin-bottom: 30px;height: 2.75rem;}
.header_1-scroller .container {padding: 0px;}
.search-header_1 {padding: 0px;}
.search-header_1 .form-control {border: 2px solid #727272;font-size: 14px;}
.search-header_1 .form-control:focus {border: 2px solid #636363;}
.search-btn_1 {position: absolute;top: 11;right: 10;background: none;border: none;color: #727272;}
.search-btn_1:hover {color: #636363;cursor: pointer;}
.search-btn_1:focus {outline: none;}
.cur-ico {height: 14px;width: 21px;margin-top: -2px;}
.header_1 .nav-link {color: #727272;}
.header_1 .nav-link:hover {color: #636363;}
.header_1-scroller .badge-cart {color: #3a3f45;background-color: #a9abaf;font-size: 12px;padding: 2px 6px;border-radius: 50%;margin-left: 2px;}
.header_1-scroller .nav-link {color: #fff;padding-top: .75rem;padding-bottom: .75rem;}
.header_1-scroller .nav-link:hover {color: #fff;background: #2c3136;}
@media (max-width: 991.98px) {
  .header_1-scroller .cart-block {position: absolute;right: 0;background: #3a3f45;}
  .search-header_1 {margin: 10px 0px;}
  .header_1-scroller .nav-underline {margin-right: 70px;}
  .header_1-scroller {margin-bottom: 15px;}
}
/* Шапка №2 */
.header_2-scroller {background: #f5f5f5;height: 33px;border-bottom: 1px solid #e5e5e7;}
.header_2-scroller .nav-link {color: #434343;font-size: 13px;}
.header_2-scroller .nav-link:hover {text-decoration: underline;}
.header_2-scroller .container {padding: 0px;}
.header_2-scroller .cart-link:hover {text-decoration: none;color: #272a2e;}
.header_2-scroller .badge-cart {color: #3a3f45;background-color: #dadbdd;font-size: 10px;padding: 1px 4px;border-radius: 50%;}
.header_2 {background: #f5f5f5;}
.search-header_2 {padding: 0px;}
.search-header_2 .form-control {border: 2px solid #727272;font-size: 14px;}
.search-header_2 .form-control:focus {border: 2px solid #636363;}
.header_2-menu {background: #3a3f45;text-transform: uppercase;padding: 0px;margin-bottom: 30px;}
.header_2-menu .nav-link {color: #fff;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;}
.header_2-menu .nav-link:hover {background: #2c3136;}

@media (max-width: 991.98px) {
  .header_2-scroller .cart-block {position: absolute;right: 0;background: #f2f3f5;}
  .header_2-scroller .nav-underline {margin-right: 58px;}
  .search-header_2 {margin: 10px 0px;}
  .header_2-menu {background: #f5f5f5;margin-bottom: 15px;}
  .header_2-menu .nav-link {color: #434343;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;}
  .header_2-menu .nav-link:hover {color: #434343;background: #e4e3e3;}
}

/* Шапка №3 */
.header_3_menu {background: #3a3f45;text-transform: uppercase;padding: 0px;margin-bottom: 30px;}
.search-header_3 {padding: 0px;}
.search-header_3 .form-control {border: 0px;font-size: 14px;}
.search-header_3 .form-control:focus {}
.search-btn_3 {position: absolute;top: 9;right: 10;background: none;border: none;color: #727272;}
.search-btn_3:hover {color: #636363;cursor: pointer;}
.search-btn_3:focus {outline: none;}
.header_3_menu .nav-link {color: #fff;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;}
.header_3_menu .nav-link:hover {background: #2c3136;}
.header_3_menu .navbar-nav {padding-left: 30px;}
.header_3 .nav-link {color: #727272;}
.header_3 .nav-link:hover {color: #272a2e;}
.header_3 .badge-cart {color: #3a3f45;background-color: #dadbdd;font-size: 10px;padding: 1px 4px;border-radius: 50%;}

@media (max-width: 991.98px) {
  .search-header_3 {padding-left: 15px;padding-right: 15px;margin-top: 15px;}
  .header_3_menu .nav-link {padding-left: 15px;padding-right: 15px;}
  .search-btn_3 {right: 21px;}
  .header_3_menu .navbar-nav {padding-left: 0px;}
  .header_3_menu {margin-bottom: 15px;}
}

.navbar-toggler:focus, .navbar-toggler:hover {box-shadow: none;outline: none;}
.dropdown-item.active, .dropdown-item:active {background-color: #f8f9fa;color: #16181b;}
.dropdown-menu {border-radius: 5px;box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);border: none;font-size: 14px;min-width: auto;}

@media (max-width: 991.98px) {
  .offcanvas-collapse {position: fixed;top: 56px;bottom: 0;left: 100%;width: 100%;padding-right: 1rem;padding-left: 1rem;overflow-y: auto;visibility: hidden;background-color: #343a40;transition-timing-function: ease-in-out;transition-duration: .3s;transition-property: left, visibility;}
  .offcanvas-collapse.open {left: 0;visibility: visible;}
}
  .nav-scroller {position: relative;z-index: 2;overflow-y: hidden;}
  .nav-scroller .nav {display: -ms-flexbox;display: flex;-ms-flex-wrap: nowrap;flex-wrap: nowrap;padding-bottom: 1rem;margin-top: -1px;overflow-x: auto;color: rgba(255, 255, 255, .75);text-align: center;white-space: nowrap;-webkit-overflow-scrolling: touch;}
  .nav-underline .active {font-weight: 500;color: #343a40;  }
  .text-white-50 { color: rgba(255, 255, 255, .5); }
  .text-white {font-size: 1.475rem;}
  .bg-purple { background-color: #6f42c1; }
  .lh-100 { line-height: 1; }
  .lh-125 { line-height: 1.25; }
  .lh-150 { line-height: 1.5; }
  .form-control:focus {box-shadow: none;}

/*Страница игры*/
.breadcrumb {background: #fff;margin-bottom: 30px;}
.game-title {margin-bottom: 30px;}

.game-info {background: #fff;margin-right: 0px;margin-left: 0px;border-radius: 5px;margin-bottom: 30px;}
.game-info .col-lg-5, .game-info .col-lg-7 {padding-left: 0px;padding-right: 0px;}
.game-media {padding: 35px;}
.game-media img {width: 100%;}
.game-screenshot {width: 100%;height: 124px;flex-wrap: nowrap;overflow: hidden;overflow-x: scroll;}
.game-screenshot-list {display: flex;float: left;}
.game-screenshot-list img {width: 197px;height: 110px;}
.game-screenshot::-webkit-scrollbar{height: 8px;}
.game-screenshot::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px;border-color: #636363;background-color: #636363;cursor: pointer;border-radius: 5px;}
.game-screenshot::-webkit-scrollbar-thumb:hover{border-width: 1px 1px 1px 2px;border-color: #414141;background-color: #414141;cursor: pointer;}
.game-screenshot::-webkit-scrollbar-track{border-width:0;background-color: #f6f6f6;}
.game-data {padding-top: 35px;padding-right: 35px;}
.game-data ul {padding-left: 0px;}
.game-data li {padding-left: 0px;list-style: none;padding-bottom: 4px;}
.game-data li:last-child {padding-bottom: 0px;}
.game-data span {float: left;width: 120px;color: #909090;}
.game-data a {color: #636363;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.game-data a:hover {color: #414141;text-decoration: none;border-bottom: none;}
.game-data i {color: #3a3f45;}
.game-data .col-lg-6 {padding-left: 0px;padding-bottom: 4px;}
.game-data-list {padding-bottom: 19px;}
.price {margin-bottom: 35px;width: 199px;}
.price .discount {float: left;border-right: 1px solid rgba(0, 0, 0, 0.1);padding-right: 15px;text-align: center;}
.price .discount div {background: #5eb761;border-radius: 20px;padding: 2px 12px;color: #fff;margin-top: 5px;}
.price .discount span {text-decoration: line-through;color: #909090;}
.price .discount sup {color: #909090;}
.price .value {float: left;font-size: 33px;color: #404040;margin-left: 15px;margin-bottom: 6px;}
.price .value sup {font-size: 16px;top: -25px;}
.price .economy {clear: both;color: #909090;font-size: 12px;}
.price .economy span {color: #636363;font-size: 14px;}
.price .economy i {font-size: 16px;color: #909090;}
.price .economy i:hover {color: #2f3338;cursor: pointer;}
.btn-buy {margin-top: 5px;}
.btn-buy button {background: #636363;color: #fff;padding: 15px 60px;border-radius: 50px;border: 0px;font-size: 20px;}
.btn-buy button:hover {background: #414141;outline: none;cursor: pointer;}
.add-cart {margin-top: 24px;}
.add-cart a {color: #636363;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.add-cart a:hover {color: #414141;text-decoration: none;border-bottom: none;}

@media (max-width: 991.98px) {
  .game-info {margin-bottom: 15px;}
  .game-media {padding: 15px;}
  .game-data {padding: 15px;padding-bottom: 0px;}
  .game-data span {width: auto;margin-right: 5px;}
  .game-data-list .row {clear: both;padding: 15px;padding-top: 4px;}
  .price {text-align: center;margin-bottom: 15px;}
  .col-price {text-align: -webkit-center;}
  .btn-buy {text-align: center;}
  .game-data-list {padding-bottom: 0px;}
  .add-cart {text-align: center;margin-top: 15px;margin-bottom: 15px;}
  .btn-buy button {padding: 15px 100px;}
  .game-screenshot {height: 72px;}
  .game-screenshot-list img {width: 105px;height: 59px;}
  .game-title {margin-bottom: 15px;}
  .breadcrumb {margin-bottom: 15px;}
}

.game-tabs {background: #fff;border-radius: 5px;padding: 35px;margin-bottom: 30px;}
.game-preorder, .game-bonus {background: #fff;border-radius: 5px;padding: 35px;margin-bottom: 30px;}
.game-preorder h5, .game-bonus h5 {margin-bottom: 30px;}
.game-preorder img, .game-bonus img {width: 100%;}
.game-preorder li, .game-bonus li {list-style-type:square;color: #636363;}
.game-preorder ul, .game-bonus ul {padding-left: 15px;margin-top: 35px;margin-bottom: 0px;}
.request {padding-left: 0px;list-style-type: none;}
.request span {font-weight: bold;}
.request-small {font-size: 12px;color: #909090;margin-bottom: 0px;}
.activation li {list-style: decimal;}
.activation ul {padding-left: 15px;}
.activation-small {color:red; font-size: 12px;margin-bottom: 0px;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color: #636363;border-radius: 50px;}
.reviews {background: #fff;padding: 35px;margin-bottom: 30px;}
.reviews .avatar {width: 50px;height: 50px;}
.reviews-now span {font-size: 12px;color: #909090;}
.reviews-now {margin-top: 30px;}
.reply {float: right;opacity: 0;transition: 200ms;}
.reply:hover {text-decoration: none;}
.reviews-now:hover .reply {opacity: 1;}
.alert-login {text-align:center;background: #f5f5f5;border-radius: 5px;padding: 15px;margin-top: 30px;}
.vk-login {background: #4a76a8;padding: 8px;color: #fff;border-radius: 50px;margin-left: 5px;}
.vk-login:hover {background: #3d618b;color: #fff;}
.steam-login {background: #171a21;padding: 8px 10px;color: #b8b6b4;;border-radius: 50px;margin-left: 5px;}
.steam-login:hover {background: #0f1116;color: #fff;}
.fb-login {background: #3b5998;padding: 8px 13px;color: #fff;border-radius: 50px;margin-left: 5px;}
.fb-login:hover {background: #344d85;color: #fff;}
.google-login {background: #d34836;padding: 8px 9px;color: #fff;border-radius: 50px;margin-left: 5px;}
.google-login:hover {background: #b94030;color: #fff;}
.alert-yellow li {list-style-type:square;}
.alert-yellow ul {padding-left: 15px;margin-bottom: 0px;}
.alert-yellow a {text-decoration: none;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.alert-yellow a:hover {border-bottom: none;}
.btn-reviews {text-align: right;}
.btn-reviews .btn {font-size: 14px;background: #636363;color: #fff;}
.btn-reviews .btn:hover {background: #414141;}
.btn:focus, .btn.focus {outline: 0;box-shadow: none;}
.form-control {border: 1px solid #f5f5f5;font-size: 14px;border-radius: 5px;}
.form-control:focus {border-color: #e9e9e9;}
.form-control::placeholder {font-size: 14px;}
.reviews .form-group {margin-top: 30px;}
.reviews h5 {margin-bottom: 0px;}
.reviews-reply .form-group {margin-top: 0px;}
.set-list a:hover {text-decoration: none;}
.set {border-bottom: 1px solid #f5f5f5;padding: 15px 0px;}
.set .mini-poster {padding-right: 0px;}
.set img {width: 110px;}
.alert-blue {background: #55a1cd;color: #fff;}
.alert-yellow {background: #f6eb6d;}
.alert-pink {background: #854793;color: #fff;}
.alert-pink a {text-decoration: none;border-bottom: 1px solid rgba(255, 255, 255, 0.2);color: #fff;}
.alert-pink a:hover {border-bottom: none;}
.alert-green {background: #42ba6c;color: #fff;}

@media (max-width: 991.98px) {
  .game-tabs {margin-bottom: 15px;padding: 15px;}
  .game-preorder h5, .game-bonus h5 {margin-bottom: 15px;}
  .game-preorder, .game-bonus {padding: 15px;margin-bottom: 15px;}
  .game-preorder ul, .game-bonus ul {margin-top: 15px;margin-bottom: 0px;}
  .game-tabs .nav-item {width: 100%;}
  .reviews {padding: 15px;margin-bottom: 15px;}
  .reply {opacity: 1;}
  .alert-login span {display: none;}
  .reviews-now, .reviews-reply {margin-top: 15px;}
  .reviews .form-group {margin-top: 15px;}
  .alert-login {margin-top: 15px;}
  .reviews-reply .form-group {margin-top: 0px;}
}

/*Нижняя часть сайта*/
.footer {background-color: #282828;color: #999;padding: 35px 0px;}
.footer .logo {height: 46px;filter: grayscale(100%);}
.footer .social-link {margin-top: 30px;}
.footer .social-link a {background: #3d4043;border-radius: 50px;margin-right: 5px;color: #fff;}
.footer .social-link a:hover {background: #fff;color: #3d4043;}
.footer .social-link .vk {padding: 15px;}
.footer .social-link .fb {padding: 15px 19px;}
.footer .social-link .ig {padding: 15px 17px;}
.footer .social-link .tw {padding: 15px 16px;}

@media (max-width: 991.98px) {
  .footer .col-lg-3 {text-align: center;margin-bottom: 35px;}
}

/*Каталог*/
.search-catalog {margin-bottom: 15px;position: relative;}
.search-catalog .form-control {border: 2px solid #727272;font-size: 14px;}
.search-catalog .form-control:focus {border: 2px solid #636363;}
.search-catalog .btn {position: absolute;top: 5;right: 0;background: none;border: none;color: #727272;}
.search-catalog .btn:hover {color: #636363;cursor: pointer;}
.search-catalog .btn:focus {outline: none;}
.filter {background: #fff;padding: 35px;margin: 15px 0px;}
.filter .amount {float: right;font-size: 12px;border-radius: 10px;background-color: #727272;padding: 2px 8px;color: #fff;margin-top: 1px;}
.filter .custom-control {margin-bottom: 5px;}
.filter h6 {margin: 15px 0px;}
.filter h6:first-child {margin-top: 0px;}
.filter .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #727272;}
.filter .custom-control-label::before {background-color: #f5f5f5;}
.filter .custom-control-input:focus ~ .custom-control-label::before {box-shadow: none;}
.filter .custom-control-input:active ~ .custom-control-label::before {color: #fff;background-color: #f8f8f8;}
