<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Страница</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link href='css/lib.css' rel='stylesheet' type='text/css'>
    <link href='css/app.css' rel='stylesheet' type='text/css'>
    <link href='css/catalog.css' rel='stylesheet' type='text/css'>
    <link href="css/jquery.scrollbar.css" rel="stylesheet">
    <link href="css/recommendation.css" rel="stylesheet">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/product-jquery.fancybox.min.css" rel="stylesheet">
    <link href="css/product-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">



    <script src="js/jquery-2.2.4.min.js?v=1536738642"></script>
</head>

<body>

    <div class="page ">
        <div class="page-inner">
            <header class="header js-header">
                <div class="header__top">
                    <div class="wrapper">

                        <div class="header-mob">

                            <div class="header-mob-btn js-mob-btn">
                                <button type="button" class="header-mob-btn__bars">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <button type="button" class="header-mob-btn__close iconic iconic--cross"></button>
                            </div>

                            <nav class="header-mob__menu wrapper">
                                <ul class="header-mob__list">
                                    <li>
                                        <a href="games.html">Каталог игр</a>
                                    </li>
                                    <li>
                                        <a href="#">Испытай удачу</a>
                                    </li>
                                    <li>
                                        <a href="#">Лидеры продаж</a>
                                    </li>
                                    <li>
                                        <a href="#">Новинки</a>
                                    </li>
                                    <li>
                                        <a href="#">Предзаказы</a>
                                    </li>
                                    <li>
                                        <a href="#">Скидки</a>
                                    </li>
                                    <li>
                                        <a href="#">Рекомендации</a>
                                    </li>
                                </ul>

                                <ul class="header-mob__list header-mob__list--sm">
                                    <li>
                                        <a href="#">Как купить?</a>
                                    </li>
                                    <li>
                                        <a href="#">Оплата</a>
                                    </li>
                                    <li>
                                        <a href="#">Гарантии</a>
                                    </li>
                                    <li>
                                        <a href="#">Контакты</a>
                                    </li>
                                    <li>
                                        <a href="#">Отзывы</a>
                                    </li>
                                    <li>
                                        <a href="#">Мои покупки</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                        <a href="/" class="header__logo">
                            <img src="img/logo.png">
                        </a>

                        <div class="currency__dropdown">
                            <div class="dropdown js-dropdown" id="currency-listall">
                                <div class="dropdown__head-mob">
                                    <select class="dropdown__head" id="currency-list" onchange="currencyList()">
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="RUB">RUB</option>
                                        <option value="UAH">UAH</option>
                                    </select>
                                </div>
                                <div class="dropdown__head-main">
                                    <div class="dropdown__head js-dropdown-btn">
                                        <font id="currency_now">RUB</font>
                                    </div>
                                    <div class="dropdown__cont">
                                        <ul class="currency__list">
                                            <li class="currency__list-item" onclick="currencySelect('USD')"
                                                id="currency_USD">
                                                USD<span class="currency__symbol">$</span>
                                            </li>
                                            <li class="currency__list-item" onclick="currencySelect('EUR')"
                                                id="currency_EUR">
                                                EUR<span class="currency__symbol">€</span>
                                            </li>
                                            <li class="currency__list-item" onclick="currencySelect('RUB')"
                                                id="currency_RUB">
                                                RUB<span class="currency__symbol"><span class='rub'>P</span></span>
                                            </li>
                                            <li class="currency__list-item" onclick="currencySelect('UAH')"
                                                id="currency_UAH">
                                                UAH<span class="currency__symbol">₴</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            var poolCurrency = {
                                "RUB": 1,
                                "USD": 62,
                                "EUR": 72,
                                "UAH": 2.3
                            };
                        </script>

                        <div class="header__main-col">

                            <div class="header__info-wr">
                                <ul class="header__info-links">
                                    <li>
                                        <a href="#" class="link link--black">Как купить?</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link link--black">Оплата</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link link--black">Гарантии</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link link--black">Контакты</a>
                                    </li>
                                </ul>

                                <a href="#" class="header-ico-link">
                                    <span class="iconic iconic--favs header-ico-link__ico"></span>
                                    <span class="header-ico-link__txt">
                                        Отзывы
                                    </span>
                                </a>
                                <a href="#" class="header-ico-link">
                                    <span class="header-ico-link__ico header-ico-link__ico--cart">
                                    </span>
                                    <span class="header-ico-link__txt">
                                        Мои покупки
                                    </span>
                                </a>

                            </div>

                            <div class="search-div">

                                <div class="search-wr js-live-search" data-delay="1000" data-url="/search/autocomplete">
                                    <form action="/catalog" class="search-wr__main" method="get">
                                        <input value="" type="search" name="ProductFilter[search]"
                                            class="search-wr__input js-live-search_input" placeholder="Поиск игр..."
                                            autocomplete="off" id="game-search-input">

                                        <div class="search-wr__btns-pair">
                                            <button type="submit"
                                                class="iconic iconic--lupa search-wr__submit"></button>
                                        </div>
                                    </form>

                                </div>
                                <p class="search-div__txt">
                                    В лавке дядюшки Гейба 2845 игр
                                </p>
                            </div>
                        </div>

                        <button type="button" class="iconic iconic--lupa header__mob-search js-search-toggle"></button>
                    </div>
                </div>

                <div class="header__nav">
                    <div class="wrapper">
                        <nav class="header-nav">
                            <div class="header-nav__group">
                                <a href="games.html" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Каталог игр
                                    </span>
                                </a>

                                <div class="header-nav__submenu">
                                    <div class="wrapper">
                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <!--<img src="/images/mario_body.png" alt="">-->
                                                <span class="iconic iconic--cat-action"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                Экшн
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-adventure"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                приключения
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-rpg"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                ролевые (RPG)
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-sim"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                симуляторы
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-strategy"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                стратегии
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-mmo"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                mmo
                                            </p>
                                        </a>

                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-indie"><img
                                                        src="img/9typGNDI26qaKP9BvWh_VUudfkd9scMc.png"
                                                        height="42"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                инди
                                            </p>
                                        </a>
                                        <a href="#" class="header-nav__smenu-item">
                                            <div class="header-nav__smenu-ico">
                                                <span class="iconic iconic--cat-sport"></span>
                                            </div>
                                            <p class="header-nav__smenu-name">
                                                спорт и гонки
                                            </p>
                                        </a>

                                    </div>
                                </div>

                            </div>

                            <div class="header-nav__group">
                                <a href="#lucky" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Испытай удачу
                                    </span>
                                </a>

                            </div>

                            <div class="header-nav__group">
                                <a href="#" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Лидеры продаж
                                    </span>
                                </a>

                            </div>

                            <div class="header-nav__group">
                                <a href="#" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Новинки
                                    </span>
                                </a>

                            </div>



                            <div class="header-nav__group">
                                <a href="#" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Предзаказы
                                    </span>
                                </a>

                            </div>

                            <div class="header-nav__group">
                                <a href="#" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Скидки
                                        <sup>
                                            до 90%
                                        </sup>
                                    </span>
                                </a>

                            </div>

                            <div class="header-nav__group">
                                <a href="#" class="header-nav__gr-link">
                                    <span class="header-nav__gr-link-txt">
                                        Рекомендации
                                    </span>
                                </a>

                            </div>

                        </nav>
                    </div>
                </div>
            </header>
            <div class="page-body">

                <div class="main-wr" style="margin-top:28px;">
                    <div class="wrapper">

                        <script src="https://use.fontawesome.com/c5e518ee5d.js"></script>


                        <div class="text-page">
                            <h1 class="h1">Название страницы</h1>

                            <p class="contacts-info">Содержание страницы</p>
                        </div>
                    </div>
                </div>


            </div>

            <section class="online-sells">
                <div class="wrapper">
                    <div class="h4">
                        Покупают прямо сейчас
                    </div>
                </div>

                <div class="online-sells__track-wr">
                    <div class="online-sells__loadout-cont js-sells-loadout">
                    </div>
                    <div class="online-sells__track js-sells-tracker" data-url="/queries/onlineSellsItem.php">
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/yakuza-kiwami-2" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_LTlZr9M9h3nHjqA6KbrCzbkUjMkbR47-.jpg');">
                        </a>
                        <a href="/game/euro-truck-simulator-2-high-power-cargo-pack" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_1rbVo_lRAfX61eA97CGMk7TYuwdSChQF.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/batman-arkham-origins" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_9KHWZZ-Frn8JsrGXLzj6uO37hCAPaQSI.png');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/hitman" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_ARohYW58m4J6himypfKnBMQkssBRhIF0.jpg');">
                        </a>
                        <a href="/game/the-amazing-spider-man" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_naBxCVI3yzWsXwZbyXrrj0udKlkpPNUG.jpg');">
                        </a>
                        <a href="/game/insurgency" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_zEq40QLbTzUu7C-IlS75nJc9xKFlwUD0.png');">
                        </a>
                        <a href="/game/grand-theft-auto-v" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_6XRvn7WSLUd6hch6X-HrsIdylgrYzfOO.png');">
                        </a>
                        <a href="/game/dark-souls-3" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_Bq8jziRoiui6nIwG-gMnpw0CNu1K-igN.png');">
                        </a>
                        <a href="/game/dragons-dogma-dark-arisen" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_Eh3wLBeYBw1v0_cCiZ1224VVW1UOadu9.png');">
                        </a>
                        <a href="/game/insurgency" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_zEq40QLbTzUu7C-IlS75nJc9xKFlwUD0.png');">
                        </a>
                        <a href="/game/mortal-kombat-11" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_zS5LSzv5ZLmYrKOuNubamSpjOvs3-wQ0.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                        <a href="/game/insurgency" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_zEq40QLbTzUu7C-IlS75nJc9xKFlwUD0.png');">
                        </a>
                        <a href="/game/might-magic-x-legacy" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_m1pFTD49tbpdeUyL3hg_gGwvh1Knbx4d.jpg');">
                        </a>
                        <a href="/game/rage" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_YjXvcDvhzEb0mvpPyAcoqsmUIOMcu9kA.jpg');">
                        </a>
                        <a href="/game/mortal-kombat-11-premium-edition" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_HiP0sY_B8ElILRyfbjIF48pi2FWn9A6p.jpg');">
                        </a>
                        <a href="/game/the-elder-scrolls-online-morrowind" class="game-label"
                            style="background-image: url('https://gabestore.ru/product/176x82_kMBZ4YBS4xSnzlAyhyx9aslShde0MCWS.jpg');">
                        </a>
                    </div>
                </div>
            </section>

            <footer class="footer">
                <div class="footer__main">
                    <div class="wrapper">

                        <nav class="footer__nav">
                            <ul>
                                <li>
                                    <a href="games.html" class="footer__nav-link">
                                        Каталог игр
                                    </a>
                                </li>
                                <li>
                                    <a href="/rand" class="footer__nav-link">
                                        Испытай удачу
                                    </a>
                                </li>
                                <li>
                                    <a href="/top" class="footer__nav-link">
                                        Топ продаж
                                    </a>
                                </li>
                                <li>
                                    <a href="/newgames" class="footer__nav-link">
                                        Новинки
                                    </a>
                                </li>
                                <li>
                                    <a href="/preorder" class="footer__nav-link">
                                        Предзаказы
                                    </a>
                                </li>
                                <li>
                                    <a href="/sale" class="footer__nav-link">
                                        Скидки
                                    </a>
                                </li>
                                <li>
                                    <a href="/recommendation" class="footer__nav-link">
                                        Рекомендации
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <div class="footer__info">

                            <div class="footer__info-commerc">
                                <p class="footer__legal">
                                    Все продаваемые ключи закупаются у официальных дистрибьюторов и издателей. В том
                                    числе у
                                    1C-СофтКлаб, Бука, Новый Диск и Enaza.
                                </p>
                                <div class="footer__pay-syst">
                                    <img src="img/pay-systems.png" alt="">
                                </div>
                            </div>

                            <div class="footer__info-soc">
                                <div class="footer__yt-wr">
                                    <a target="_blank" href="https://www.youtube.com/user/onlinegamercentral"
                                        class="footer__youtube">
                                        <span>
                                            Смотрите обзор игр
                                            на Youtube-канале
                                        </span>
                                    </a>
                                </div>

                                <div class="social-links social-links--grey">
                                    <a target="_blank" href="https://vk.com/gabestore" class="fa fa-vk"></a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer__bottom">
                    <div class="wrapper">
                        <p class="footer__cr">
                            GABESTORE.RU © 2019
                        </p>

                    </div>
                </div>

            </footer>
        </div><!-- /page-inner -->

        <!-- popups -->

        <div class="pswp js-pswp" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">

                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /page -->
    <!-- <div class="up-button"></div> -->
    <script src="js/swiper.min.js"></script>
    <script src="js/theia-sticky-sidebar.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/4b410c98/jquery.js?v=1531460063"></script>
    <script src="js/29cedf25/yii.js?v=1531460063"></script>
    <script src="js/29cedf25/yii.activeForm.js?v=1531460063"></script>
    <script src="js/f7179f89/jquery.pjax.js?v=1531461228"></script>
    <script src="js/lib.js?v=1536738644"></script>
    <script src="js/app.js?v=1547052479"></script>
    <script src="js/currency.js?v=1536738638"></script>
    <script src="js/jquery.scrollbar.min.js?v=1536738643"></script>
    <script src="js/catalog.js?v=1536738637"></script>
    <script src="js/comments.js"></script>
</body>

</html>