@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";
@import "offcanvas.css";

body {font-family: 'Roboto', sans-serif;font-size: 0.9rem;color: #5e6d77;background: #e7f4f8;}
.navbar-toggler:focus {outline: none;}
.logo {height: 50px;}
.header {box-shadow: 0px 5px 15px 0 rgba(0,0,0,.07);font-weight: 500;}
.nav-scroller .container {padding-right: 0px;padding-left: 0px;}
.nav-scroller .nav-link:first-child {padding-left: 0px;} 
.scroller-header {background: #527fda;color: #fff;margin-bottom: 30px;}
.scroller-header .nav-link {color: #fff;}
.scroller-header .nav-link:hover {color: #fff;}
.nav-login {color: #e2004b!important;font-weight: 600;}
.btn-vk {background: #4a76a8;color: #fff;font-size: 0.9rem;}
.btn-vk:hover {background: #416894;color: #fff;}
.btn-fb {background: #4267b2;color: #fff;font-size: 0.9rem;}
.btn-fb:hover {background: #3b5da0;color: #fff;}
.btn-google {background: #ea4335;color: #fff;font-size: 0.9rem;}
.btn-google:hover {background: #da3f31;color: #fff;}
.login-dropdown {padding: 15px;}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {background-color: #527fda;}
.carousel-item {background: #000;}
.banner-news {filter: opacity(50%);}