@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";
@import "carousel.css";

body {font-family: 'Open Sans', sans-serif;font-size: 1rem;color: #130f40;}
a {color: #092EED;font-weight: 600;}
a:hover {color: #082bdb;text-decoration: none;}
.navbar-white {background: #fff;font-size: 0.85rem;border-bottom: 1px solid #f5f5fa;}
.navbar-white a {color: #092EED;font-weight: 600;}
.navbar-white a:hover {color: #082bdb;}
.phone-ico {background: #092EED;border-radius: 50px;margin-right: 5px;padding: 15px;color: #fff;font-size: 0.9rem;margin-left: 10px;}
.phone {font-size: 1rem;}
.phone a {text-decoration: none;color: #000;}
.phone a:hover {color: #000;}
.phone a:hover .phone-ico {background: #082bdb;}
.phone span {font-size: 0.55rem;float: right;margin-top: -13px;color: #d4d4d4;}
.nav-item-red a {color: #f53e56;}
.nav-item-red a:hover {color: #d13146;}
.navbar-toggler span {color: #092EED;}
.navbar-toggler span:hover {color: #082bdb;}
.navbar-toggler:focus, .navbar-toggler:hover {outline: none;}
.carousel-indicators li {width: 5px;height: 5px;border-radius: 50px;}
.carousel-item {background: #000;}
.banner {filter: opacity(25%);}

.marketing {text-align: center;}
.nav-tabs {border: 0px;}

.tarif-1 {background: #fff;color: #092EED;width: 110px;margin: auto;padding: 5px;border-radius: 5px;text-transform: uppercase;margin-top: -48px;margin-bottom: 15px;}
.tariff-bg {background: url(../img/tariff.jpg) no-repeat center top fixed;background-size: cover;background-size: 100% 100%;color: #fff;padding-bottom: 1rem;padding-top: 2rem;}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {background: #fff;color: #092EED;border: 0px;}
.nav-tabs .nav-link {border: 0px;color: #fff;}

.btn-primary {background-color: #092EED;border: 0;color: #fff;font-weight: 500;padding: 15px 30px;border-radius: 4px;}
.btn-primary:hover {background-color: #0354cd;}
.form-control {background-color: #f5f5ff;font-size: 15px;border: 0px;height: 40px;}




















@media (min-width: 576px) {
    .container {
        max-width: 546px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 738px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 962px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

