@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import "bootstrap.css";
@import "icon.css";


body {background: #f5f5f5;font-family: 'Play', sans-serif;font-size: 14px;color: #252525;}

.header {background: #1c1d29;box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);}
.header .navbar-brand {color: #a2a3b7;font-size: 16px;}
.header .store-link {}
.header .nav-link {color: #a2a3b7;}
.header .nav-link:hover {color: #fff;}
.menu-block {background: #252633;width: 265px;position: fixed; height: 100%;padding-left: 0px;padding-right: 0px;padding: 15px 0px;}
.menu-block a {color: #a2a3b7;}
.menu-block a:hover {color: #fff;}
.menu-block .navbar-nav {flex-direction: column!important;width: 100%;}
.menu-block .nav-link {padding-left: 30px!important;padding-right: 30px!important;}
.menu-block .nav-link:hover {background: #292b3a;}
.menu-block .navbar {padding: 0px;}
.navbar-toggler {color: #a2a3b7;}
.navbar-toggler:focus {outline: none;}

.header .dropdown-item-active {background-color: #1c1d29;color: #fff;display: block;width: 100%;padding: 0.25rem 1.5rem;}
.header .dropdown-menu {border-radius: 5px;box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);border: none;font-size: 14px;min-width: auto;}
.header .dropdown-item:hover {background-color: #f8f9fa;color: #16181b;}
.icon-store {width: 14px;height: 14px;}

.menu-block .navbar-nav .dropdown-menu {position: static;}
.menu-block .dropdown-item.active, .dropdown-item:active, .menu-block .dropdown-item.active, .dropdown-item:hover, .menu-block .dropdown-item.active, .dropdown-item:focus {background-color: #292b3a;color: #fff;}
.menu-block .dropdown-menu {background: #1c1d29;border-radius: 0px;box-shadow: none;border: none;font-size: 14px;min-width: auto;}
.menu-block .dropdown-item {padding: 5px 30px;}
.col-menu {padding-left: 0px;padding-right: 0px;margin-top: 53px;}

.content {margin-left: 280px;margin-top: 83px;margin-right: 15px;}

@media (max-width: 991.98px) {
    .navbar-brand {display: none;}
    .menu-block {position: relative;padding: 0px;width: 100%;height: auto;}
    .header .navbar-nav .dropdown-menu {position: absolute;right: 0px;left: auto;}
    .content {margin-left: 0px;margin-top: 15px;margin-right: 0px;margin-bottom: 15px;}
    .help-block {margin-top: 15px;}
  }

.content .page {background: #fff;padding: 30px;border-radius: 5px;margin-bottom: 30px;}
.content .page h5 {border-bottom: 1px solid #f5f5f5;padding-bottom: 15px;margin-bottom: 15px;}

.content .page .form-control {border: 1px solid #f5f5f5;font-size: 14px;}
.content .page .form-control:focus {border-color: #e9e9e9;box-shadow: none;}
.content .page .form-control::placeholder {font-size: 14px;}
.content .page .input-group-text {color: #495057;background-color: #fff;border: 1px solid #e9e9e9;font-size: 14px;}
.content .page form {margin-bottom: 0px;}
.custom-file-label::after {content: "Обзор";background-color: #5d78ff;border: 0px;color: #fff;}
.custom-file-label {border: 1px solid #f5f5f5;font-size: 14px;}
.custom-file-label:hover {border-color: #e9e9e9;}
.content .page .btn {background-color: #5d78ff;color: #fff;font-size: 14px;}
.content .page .btn:hover {background-color: #3758ff;}
.content .page .btn:focus {box-shadow: none;}

@media (max-width: 991.98px) {
    .content .page {padding: 15px;margin-bottom: 15px;}
  }

.white-block {background: #fff;padding: 30px;margin-bottom: 30px;border-radius: 5px;}
.date-selector {margin-bottom: 30px;}
.btn-date {background: #fff;border: 1px solid #dcdcdc;}
.btn:focus, .btn.focus {outline: 0;box-shadow: none;}
.date-selector .active {background: #f5f4f4;}
.stat-block .value {font-size: 32px;}
.stat-block .title {color: #909090;}
.stat-block i {font-size: 72px;color: #a2a3b7;}

@media (max-width: 991.98px) {
  .white-block {margin-bottom: 15px;padding: 15px;}
}

h5 a {float: right;font-size: 14px;color: #909090;}
h5 a:hover {color: #858585;text-decoration: none;}
.reviews {background: #fff;margin-bottom: 0px;}
.reviews .avatar, .page .avatar {width: 50px;height: 50px;}
.reviews-now span {font-size: 12px;color: #909090;}
.reviews-now {margin-top: 30px;}
.reviews-now a {color: #252525;}
.reviews-now a:hover {color: #1d1d1d;text-decoration: none;}


@media (max-width: 991.98px) {
  .reviews {margin-bottom: 15px;}
}

.catalog-list-block a {color: #636363;}
.catalog-list-block a:hover {color: #414141;text-decoration: none;}
.catalog-list-block .game {border-radius: 5px;margin-top: 30px;}
.catalog-list-link:hover {text-decoration: none;}
.catalog-list-block .game img {width: 120px;}
.catalog-list-block .game .value {font-size: 20px;}
.catalog-list-block .game .value span {background: #5eb761;border-radius: 20px;padding: 4px 12px;color: #fff;margin-top: 5px;font-size: 14px;}
.catalog-list-block .game .game-info {font-size: 12px;margin-right: 3px;padding-right: 3px;border-right: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0px;}
.catalog-list-block .game .game-info:last-child {margin-right: 0px;padding-right: 0px;border-right: 0px;}

@media (max-width: 991.98px) {
  .catalog-list-block .game img {width: 100%;margin-bottom: 15px;}
  .catalog-list-block .game .game-info {margin-bottom: 15px;}
  .catalog-list-block .game .value {margin-top: 15px;text-align: center;}
  .catalog-list-block {margin-bottom: 15px;}
}

.custom-control {margin-bottom: 10px;}
.form-group {margin-bottom: 0px;}
.custom-control i {font-size: 12px;color: #909090;}
.custom-control i:hover {color: #2f3338;cursor: pointer;}

.btn-moder {float: right;}
.btn-moder a {color: #909090;}
.btn-moder a:hover {color: #2f3338;}