@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Roboto', sans-serif;font-size: 0.9rem;color: #130f40;background: #fff;}
.navbar-toggler:focus {outline: none;}
.header {background: #181824;margin-bottom: 0px;}
.nav-header {color: #6c6e86!important;}
.nav-header:hover {color: #fff!important;}
.nav-header i {color: #6c6e86!important;font-size: 1rem;}
.nav-header:hover i {color: #fc2e30!important;}
.buy-btn {background: #232337;color: #fff!important;padding: 7px 15px!important;}
.buy-btn:hover {background: #fc2e30;}
.banner {background: #fff2f2;}
.search {margin-top: 30px;margin-bottom: 15px;}
.search-result {margin-bottom: 30px;}
.search-result span {border-left: 1px solid rgba(0, 0, 0, 0.125);margin-left: 3px;padding-left: 5px;}
.search-result a {color: #6c6e86;}
.form-control {border-radius: 0px;}
.btn-search {background: #fc2e30;border-radius: 0px;color: #fff;}
.btn-search:hover {background: #e22a2d;}

.all-item a {color: #130f40;}
.card {border-radius: 0px;margin-bottom: 30px;}
.card-title {text-align: center;}
.card-title span {color: #6c6e86;text-decoration: line-through;font-size: 0.8rem;}
.text-muted i {margin-right: 5px;}
.page-item.active .page-link {background: #fc2e30;border-color: #fc2e30;}
.page-item:first-child .page-link {border-top-left-radius: 0px!important;border-bottom-left-radius: 0px!important;}
.page-item:last-child .page-link {border-top-right-radius: 0px!important;border-bottom-right-radius: 0px!important;}
.card-body {padding: 15px;}

.nav-item.dropdown>.navbar-nav {width: auto;}
.contry {width: 18px;}

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {background-color:#e22a2d;}
.bsnav-mobile .navbar {background: #0f0f17;}

.help-page {margin-top: 30px;}
.search-result {background: #fff2f2;padding: 15px;}
.btn {border-radius: 0px;}
.form-control:focus, .btn:focus, .btn.focus {box-shadow: none;}
.btn-dark:not([disabled]):not(.disabled):active:focus, .btn-dark:not([disabled]):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {box-shadow: none;}
@media (min-width: 992px) {
.container {max-width: 1110px;}
.search-result .text {margin-top: 5.5px;}
.search-result  .col-lg-auto, .search-result .col-lg-1 {padding-right: 0px;}
.search-result  .col-lg-auto:last-child {padding-right: 15px;}
}
@media (max-width: 992px) {
.container {max-width: 100%!important;}
.search {margin-top: 15px;}
.card {margin-bottom: 15px;}
.navbar-nav .nav-item {color: #6c6e86!important;}
.navbar-nav .nav-item.active>.nav-link,
.navbar-nav .nav-item:active:focus>.nav-link,
.navbar-nav .nav-item:active>.nav-link,
.navbar-nav .nav-item:focus>.nav-link,
.navbar-nav .nav-item:hover>.nav-link {color: #fff;}
.navbar-contry {background: #181824;}
.search-result {margin-bottom: 15px;}
.search-result .col-lg-1, .search-result  .col-lg-auto {margin-bottom: 15px;}
.search-result .col-lg {border-bottom: 1px solid #6c6e86;padding-bottom: 15px;margin-bottom: 15px;}
.search-result .col-lg-auto:last-child {margin-bottom: 0px;}
}

.admin-page {margin-top: 30px;}
.white-block {background: #fff;padding: 15px;}
.stat-block .value {font-size: 32px;}
.stat-block .title {color: #909090;}
.stat-block i {font-size: 72px;color: #a2a3b7;}
.block-white {background: #fff;padding: 15px;}
.block-white h6 {margin-bottom: 15px;}

.card-stats {color: #868e96;text-align: center;padding-bottom: 0.75rem;}
.card-stats span {margin-right: 10px;}
.card-stats span:last-child {margin-right: 0px;}

.banner-btn {margin: 15px;font-size: 14px;}