@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Source Sans Pro', sans-serif;font-size: 0.95rem;color: #000A0A;background: #D7FBFC;}
.navbar-toggler:focus {outline: none;}

.header {padding: 40px 0;background: #1F1E2E;color: #6c7293;}
.header .logo {height: 30px;}
.header i {font-size: 26px;}
.header .link {padding: 15px 11px 8px 10px;color: #6c7293;border-radius: 5px;}
.header .link:hover {background: #171622;color: #3445E5;text-decoration: none;}
.header .counter {background: #F64E60;color: #fff;font-size: 9px;padding: 2px 5px;border-radius: 5px;}
.header-menu {background: #181824;color: #6c7293!important;margin-bottom: 0px;}
.category-link {background: #3445E5!important;color: #fff!important;margin: 20px 0;padding: 10px 15px!important;border-radius: 0.42rem;}
.category-link:hover {background: #3040d3!important;}
.category-link i {margin-left: 112px;}
.category-dropmenu {padding: 20px 0px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);border-radius: 0px 0px 5px 5px;width: 230px!important;}
.category-dropmenu .nav-link {padding: 12px 20px!important;}
.category-dropmenu .nav-item:hover>.nav-link {color: #3445E5!important;background: #F3F6F9;}
.category-dropmenu .arrow-menu {float: right;margin-top: 2px;}
.category-submenu {border-radius: 0px 5px 5px 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);}
.nav-item.dropdown>.navbar-nav .navbar-nav {width: 220px!important;}
.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {color: #fff;}
.nav-login {background: #F64E60;padding: 7px 15px!important;color: #fff!important;margin-top: 13px;border-radius: 5px;margin-left: 15px;}
.nav-login:hover {background: #db4756;}
.navbar-nav .nav-item {color: #6c7293;}
.navbar-toggler {height: 21px;margin-left: 10px;display: none;}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {background-color: #6c7293;}
.bsnav-mobile .navbar {background: #181824;width: 260px;padding: 0px 0 15px;}
.breadcrumb {margin: 0px;background: none;padding: 15px 0px;}
.breadcrumb a {color: #3445E5;}
.breadcrumb-item.active {color: #6c7293;}
.breadcrumb-item+.breadcrumb-item::before {color: #6c7293;}
.item-info {background: #fff;border-radius: 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);padding: 30px;}
.item-info h2 {margin-bottom: 30px;}
.item-img {max-width: 100%;}
.item-code {background: #f8f9fa;color: rgba(0,0,0,.54);padding: 5px 10px;margin-top: 4px;}
.container {max-width: 1000px;}
.btn-buy {background: #00a046;color: #fff;padding: 10px;border-radius: 5px;}
.btn-buy:hover {background: #008539;color: #fff;}
.btn-favorite {background: #F3F6F9;color: rgba(0,0,0,.54);padding: 10px;border-radius: 5px;}
.btn-favorite:hover {background: #F64E60;color: #fff;}
.btn:focus {box-shadow: none;}
.item-info .price {font-size: 2.5rem;}
.item-info .discount {color: #6c7293;}
.item-info .discount span {background:#F64E60;color: #fff;padding: 5px 8px;margin-left: 5px;border-radius: 5px;}
.item-info .buy-button {background: #F3F6F9;border-radius: 5px;padding: 22px;}
.item-info .delivery-list {margin-bottom: 30px;}
.item-info .table-striped tbody tr:nth-of-type(odd) {background-color: #F3F6F9;}
.item-info .description {margin-top: 30px;padding-top: 30px;border-top: 1px dashed #e2e5ec;}
.alert-compatibility {border-radius:0px;font-size: 0.886rem;}
.item-info .description a {color: #3445E5;border-bottom: 1px solid #3445E5;}
.item-info .description a:hover {border: 0px;text-decoration: none;}
@media (max-width: 992px) { 
    body {background: #fff;}
    .category-link {width: 100%;}
    .bsnav-mobile .navbar-nav {padding-top: 0px;}
    .category-link i {margin-left: 111px;}
    .category-dropmenu .arrow-menu {display: none;}
    .category-submenu {background: #13131d;}
    .category-dropmenu .nav-item:hover>.nav-link {color: #fff!important;background: none;}
    .nav-login {width: 100%;text-align: center;margin-left: 0px;}
    .header-menu {display: none;}
    .navbar-toggler {display: inline-block;}
    .right-menu {padding: 5px 0;}
    .breadcrumb {margin-top: 0px;font-size: 0.7rem;box-shadow: none;padding: 15px;background: #fff;border-radius: 0px;}
    .breadcrumb-item+.breadcrumb-item::before {padding-right: .3rem;}
    .breadcrumb-item+.breadcrumb-item {padding-left: .3rem;}
    .page {padding: 0px;}
    .item-info {box-shadow: none;padding: 15px;padding-top: 0px;}
    .item-info h2 {margin-bottom: 0px;font-size: 1.5rem;}
    .item-code {background: none;padding: 0px;margin-bottom: 10px;}
    .item-img {width: 100%;margin-bottom: 15px;}
    .item-info .delivery-list {margin-bottom: 0px;}
    .item-info .buy-button {padding: 15px;}
    .item-info .description {padding-top: 15px;margin-top: 15px;}
 }