@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Source Sans Pro', sans-serif;font-size: 0.95rem;color: #000A0A;background: #D7FBFC;}
.navbar-toggler:focus {outline: none;}

.header {padding: 40px 0;background: #1F1E2E;color: #6c7293;}
.header .logo {height: 30px;}
.header i {font-size: 26px;}
.header .link {padding: 15px 11px 8px 10px;color: #6c7293;border-radius: 5px;}
.header .link:hover {background: #171622;color: #3445E5;text-decoration: none;}
.header .counter {background: #F64E60;color: #fff;font-size: 9px;padding: 2px 5px;border-radius: 5px;}
.header-menu {background: #181824;color: #6c7293!important;margin-bottom: 0px;}
.category-link {background: #3445E5!important;color: #fff!important;margin: 20px 0;padding: 10px 15px!important;border-radius: 0.42rem;}
.category-link:hover {background: #3040d3!important;}
.category-link i {margin-left: 112px;}
.category-dropmenu {padding: 20px 0px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);border-radius: 0px 0px 5px 5px;width: 230px!important;}
.category-dropmenu .nav-link {padding: 12px 20px!important;}
.category-dropmenu .nav-item:hover>.nav-link {color: #3445E5!important;background: #F3F6F9;}
.category-dropmenu .arrow-menu {float: right;margin-top: 2px;}
.category-submenu {border-radius: 0px 5px 5px 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);}
.nav-item.dropdown>.navbar-nav .navbar-nav {width: 220px!important;}
.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {color: #fff;}
.nav-login {background: #F64E60;padding: 7px 15px!important;color: #fff!important;margin-top: 13px;border-radius: 5px;margin-left: 15px;}
.nav-login:hover {background: #db4756;}
.navbar-nav .nav-item {color: #6c7293;}
.navbar-toggler {height: 21px;margin-left: 10px;display: none;}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {background-color: #6c7293;}
.bsnav-mobile .navbar {background: #181824;width: 260px;padding: 0px 0 15px;}
.breadcrumb {margin: 0px;background: none;padding: 15px 0px;}
.breadcrumb a {color: #3445E5;}
.breadcrumb-item.active {color: #6c7293;}
.breadcrumb-item+.breadcrumb-item::before {color: #6c7293;}
.item-info {background: #fff;border-radius: 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);padding: 30px;}
.item-info h2 {margin-bottom: 30px;}
.item-img {max-width: 100%;}
.item-code {background: #f8f9fa;color: rgba(0,0,0,.54);padding: 5px 10px;margin-top: 4px;}
.container {max-width: 1000px;}
.btn-buy {background: #34c678;color: #fff;padding: 10px;border-radius: 5px;}
.btn-buy:hover {background: #30b46e;color: #fff;}
.btn-favorite {background: #F3F6F9;color: rgba(0,0,0,.54);padding: 10px;border-radius: 5px;}
.btn-favorite:hover {background: #F64E60;color: #fff;}
.btn:focus {box-shadow: none;}
.item-info .price {font-size: 2.5rem;}
.item-info .discount {color: #6c7293;}
.item-info .discount span {background:#F64E60;color: #fff;padding: 5px 8px;margin-left: 5px;border-radius: 5px;}
.item-info .buy-button {background: #F3F6F9;border-radius: 5px;padding: 18px;}
.item-info .delivery-list {margin-bottom: 30px;}
.item-info .table-striped tbody tr:nth-of-type(odd) {background-color: #F3F6F9;}
.item-info .description {margin-top: 30px;padding-top: 30px;border-top: 1px dashed #e2e5ec;}
.alert-compatibility {border-radius:0px;font-size: 0.886rem;}
.item-info .description a {color: #3445E5;border-bottom: 1px solid #3445E5;}
.item-info .description a:hover {border: 0px;text-decoration: none;}
.item-info .icon-delivery {width: 1.5rem;fill: #6c7293;color: #6c7293;}
.together-buy {background: #fff;border-radius: 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);padding: 30px;margin-top: 30px;margin-bottom: 30px;}
.together-buy .plus-icon {color: #F64E60;}
.together-buy h2 {margin-bottom: 30px;}
.together-buy .discount {color: #6c7293;}
.together-buy .discount span {background:#F64E60;color: #fff;padding: 5px 8px;margin-left: 5px;border-radius: 5px;}
.together-buy .price {font-size: 2.5rem;}
.together-buy .title {color: #646c9a;}
.together-buy a:hover {text-decoration: none;}
.together-buy .title {margin-top: 15px;}
.together-buy .price {color: #212529;}
.together-buy .discount {margin-top: 15px;}
.together-buy .mt-100 {margin-top: 100px;}
.together-buy .mt-20 {margin-top: 0px;}
.together-buy .buy-button {background: #F3F6F9;border-radius: 5px;padding: 30px 22px;}
.footer {background: #181824;color: #6c7293;padding: 30px 0;}
.footer .logo {height: 30px;}
.link-phone {font-size: 2.16rem;color: #fff;font-weight: bold;}
.link-phone:hover {color: #fff;text-decoration: none;}
.link-footer {color: #6c7293;margin-left: 15px;}
.link-footer:hover {color: #fff;text-decoration: none;}
.copyright {border-top: 1px solid #26263a;margin-top: 30px;padding-top: 30px;}
.categoty-item {background: #fff;border-radius: 5px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);padding: 30px;margin: 30px 0;}
.categoty-item .btn-search {background:#F64E60;color: fff;border-radius: 5px;}
.categoty-item .btn-search:hover  {background:#c9404e;}
.select2-container--bootstrap .select2-selection.form-control {border-radius: 5px;}
.select2-container--bootstrap .select2-selection--single {height: 38px;padding: 8px 24px 6px 12px;}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {box-shadow: none;}
.categoty-item .form-group {margin-bottom: 0px;}
.card-item {background: #fff;border-radius: 5px;border: 0px;box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);}
.card-item:hover {box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.15);}
.card-link:hover {text-decoration: none;}
.card-item .card-body {padding: 15px;color: #000A0A;padding-bottom: 0px;}
.card-item .card-footer {background: #fff;border-top: 0px dashed #e2e5ec;padding: 15px;}
.card-footer .discount {color: #959cb6;font-size: 0.95rem;margin-bottom: 10px;}
.card-footer .discount span {background:#F64E60;padding: 5px 10px;color: #fff;margin-left: 5px;border-radius: 5px;}
.card-footer .price {font-size: 1.5rem;}
.item-block {margin-bottom: 30px;}
.page-link, .page-link {border-radius: 0px;}
.page-link {border: 1px solid #e2e5ec;color: #000A0A;}
.page-link:hover {background: #e2e5ec;color: #000A0A;}
.page-link:focus {box-shadow: none;}
.pagination {margin-bottom: 30px;}
.promo-title {position: absolute;}
.promo-title .green {background: rgba(52, 198, 120, 0.9);color: #fff;margin-top: 10px;margin-left: 10px;padding: 5px 10px;border-radius: 5px;}
.promo-title .red {background: rgba(246, 78, 95, 0.9);color: #fff;margin-top: 10px;margin-left: 10px;padding: 5px 10px;border-radius: 5px;}
@media (max-width: 992px) { 
    body {background: #fff;}
    .category-link {width: 100%;}
    .bsnav-mobile .navbar-nav {padding-top: 0px;}
    .category-link i {margin-left: 111px;}
    .category-dropmenu .arrow-menu {display: none;}
    .category-submenu {background: #13131d;}
    .category-dropmenu .nav-item:hover>.nav-link {color: #fff!important;background: none;}
    .nav-login {width: 100%;text-align: center;margin-left: 0px;}
    .header-menu {display: none;}
    .navbar-toggler {display: inline-block;}
    .right-menu {padding: 5px 0;}
    .breadcrumb {margin-top: 0px;font-size: 0.7rem;box-shadow: none;padding: 15px;background: #fff;border-radius: 0px;}
    .breadcrumb-item+.breadcrumb-item::before {padding-right: .3rem;}
    .breadcrumb-item+.breadcrumb-item {padding-left: .3rem;}
    .page {padding: 0px;}
    .item-info {box-shadow: none;padding: 15px;padding-top: 0px;}
    .item-info h2 {margin-bottom: 0px;font-size: 1.5rem;}
    .item-code {background: none;padding: 0px;margin-bottom: 10px;}
    .item-img {width: 100%;margin-bottom: 15px;}
    .item-info .delivery-list {margin-bottom: 0px;}
    .item-info .buy-button {padding: 15px;}
    .item-info .description {padding-top: 15px;margin-top: 15px;}
    .together-buy {border-radius: 0px;box-shadow: none;padding: 15px;margin-top: 0px;padding-top: 0px;margin-bottom: 0px;}
    .together-buy h2 {margin-bottom: 15px;border-top: 1px dashed #e2e5ec;padding-top: 15px;}
    .together-buy .title {margin-top: 0px;}
    .together-buy .mt-100 {margin: 15px 0;}
    .together-buy .mt-20 {margin-top: 0px;}
    .together-buy .buy-button {border-radius: 5px;padding: 15px;margin-top: 15px;}
    .copyright {margin-top: 15px;padding-top: 15px;}
    .footer {padding: 15px 0;margin-top: 15px;}
    .footer .phone {text-align: center;}
    .footer .menu {margin-top: 15px;text-align: center;}
    .pagination {margin-bottom: 15px;}
    .item-block {margin-bottom: 15px;}
    .categoty-item {margin-top: 0px;margin-bottom: 15px;padding: 15px;}
    .btn-search {margin-top: 15px;}
 }