.grid {
  font-size: 0;
  display: block;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: auto;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -20px;
}

.grid--inner {
  width: calc(100% + 20px);
}

.grid__col {
  display: inline-block;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px 0;
  margin: 0;
}

@media screen and (min-width: 1169px) {
  .grid--xl-40vert {
    margin-top: -40px;
  }

  .grid--xl-40vert .grid__col {
    padding: 40px 10px 0;
  }
}

.grid__col--1 {
  width: 8.33%;
}

.grid__col--2 {
  width: 16.66%;
}

.grid__col--3 {
  width: 25%;
}

.grid__col--4 {
  width: 33.33%;
}

.grid__col--5 {
  width: 41.66%;
}

.grid__col--6 {
  width: 50%;
}

.grid__col--7 {
  width: 58.33%;
}

.grid__col--8 {
  width: 66.66%;
}

.grid__col--9 {
  width: 75%;
}

.grid__col--10 {
  width: 83.33%;
}

.grid__col--11 {
  width: 91.66%;
}

.grid__col--12 {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .grid__col--sm_1 {
    width: 8.33%;
  }

  .grid__col--sm_2 {
    width: 16.66%;
  }

  .grid__col--sm_3 {
    width: 25%;
  }

  .grid__col--sm_4 {
    width: 33%;
  }

  .grid__col--sm_5 {
    width: 41.66%;
  }

  .grid__col--sm_6 {
    width: 50%;
  }

  .grid__col--sm_7 {
    width: 58.33%;
  }

  .grid__col--sm_8 {
    width: 66.66%;
  }

  .grid__col--sm_9 {
    width: 75%;
  }

  .grid__col--sm_10 {
    width: 83.33%;
  }

  .grid__col--sm_11 {
    width: 91.66%;
  }

  .grid__col--sm_12 {
    width: 100%;
  }
}

@media screen and (min-width: 630px) {
  .grid__col--md_1 {
    width: 8.33%;
  }

  .grid__col--md_2 {
    width: 16.66%;
  }

  .grid__col--md_3 {
    width: 25%;
  }

  .grid__col--md_4 {
    width: 33.33%;
  }

  .grid__col--md_5 {
    width: 41.66%;
  }

  .grid__col--md_6 {
    width: 50%;
  }

  .grid__col--md_7 {
    width: 58.33%;
  }

  .grid__col--md_8 {
    width: 66.66%;
  }

  .grid__col--md_9 {
    width: 75%;
  }

  .grid__col--md_10 {
    width: 83.33%;
  }

  .grid__col--md_11 {
    width: 91.66%;
  }

  .grid__col--md_12 {
    width: 100%;
  }
}

@media screen and (min-width: 861px) {
  .grid__col--lg_1 {
    width: 8.33%;
  }

  .grid__col--lg_2 {
    width: 16.66%;
  }

  .grid__col--lg_3 {
    width: 25%;
  }

  .grid__col--lg_4 {
    width: 33.33%;
  }

  .grid__col--lg_5 {
    width: 41.66%;
  }

  .grid__col--lg_6 {
    width: 50%;
  }

  .grid__col--lg_7 {
    width: 58.33%;
  }

  .grid__col--lg_8 {
    width: 66.66%;
  }

  .grid__col--lg_9 {
    width: 75%;
  }

  .grid__col--lg_10 {
    width: 83.33%;
  }

  .grid__col--lg_11 {
    width: 91.66%;
  }

  .grid__col--lg_12 {
    width: 100%;
  }
}

@media screen and (min-width: 1169px) {

  .grid__col--xl_1 {
    width: 8.33%;
  }

  .grid__col--xl_2 {
    width: 16.66%;
  }

  .grid__col--xl_3 {
    width: 25%;
  }

  .grid__col--xl_4 {
    width: 33.33%;
  }

  .grid__col--xl_5 {
    width: 41.66%;
  }

  .grid__col--xl_6 {
    width: 50%;
  }

  .grid__col--xl_7 {
    width: 58.33%;
  }

  .grid__col--xl_8 {
    width: 66.66%;
  }

  .grid__col--xl_9 {
    width: 75%;
  }

  .grid__col--xl_10 {
    width: 83.33%;
  }

  .grid__col--xl_11 {
    width: 91.66%;
  }

  .grid__col--xl_12 {
    width: 100%;
  }
}

.page-header {
  width: 100%;
}

.page-header__content {
  padding: 35px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header--image .page-header__content {
  position: relative;
  margin-top: -126px;
  padding: 22px 10px 30px;
  background-color: #fff;
  z-index: 2;
  margin-bottom: 40px;
}

@media screen and (min-width: 481px) {
  .page-header--image .page-header__content {
    padding: 22px 25px 40px;
  }
}

@media screen and (min-width: 768px) {
  .page-header--image .page-header__content {
    padding: 22px 50px 48px;
  }
}

.page-header__bg {
  position: relative;
  display: block;
  min-height: 226px;
  width: 100%;
  background-color: #66c5c1;
  z-index: 1;
  overflow: hidden;
}

.page-header__img {
  display: block;
  max-height: 450px;
  height: auto;
  width: auto;
  margin-top: -50px;
}

.page-header__top {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          -webkit-align-items: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page-header__col {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 861px) {
  .page-header__col {
    width: 50%;
  }

  .page-header__col--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }
}

.page-header .breadcrumbs {
  padding: 0;
}

.page-title {
  width: 100%;
  color: #111111;
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: .02em;
}

.page-title:not(:last-child) {
  margin-bottom: 33px;
}

.page-header--image .page-title:not(:last-child) {
  margin-bottom: 16px;
}

.page-header__content .page-title {
  margin-top: -8px;
}

.page-header__text {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.013em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header__text p {
  width: 100%;
}

.recommendation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
  width: 100%;
  text-decoration: none;
  /* color: #fff; */
  cursor: pointer;
  overflow: hidden;
}

.recommendation--left {
  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          -webkit-align-items: flex-end;
          align-items: flex-end;
}

.recommendation--banner .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
  width: 100%;
}

.recommendation--dark {
  /* color: #282828; */
}

.recommendation__arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
  z-index: 3;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.recommendation--banner .recommendation__arrow {
  bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .recommendation__arrow {
    right: 36px;
    bottom: 42px;
  }

  .recommendation--banner .recommendation__arrow {
    right: 0;
    bottom: 64px;
  }
}

.recommendation__arrow-icon {
  width: 27px;
  height: 27px;
}

.recommendation__content {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 20px 36px;
  width: 100%;
  min-height: 200px;
  z-index: 2;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

/* .recommendation:hover .recommendation__content {
  opacity: .7;
} */
.recommendation:hover .recommendation__title-text {
  border-color: transparent;
}

.recommendation:hover .recommendation__image {
  opacity: 0;
  -webkit-transform: translate3d(30px, 0, 0);
          transform: translate3d(30px, 0, 0);
}

.recommendation--left:hover .recommendation__image {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}

.recommendation--banner:hover .recommendation__image {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}

.recommendation--vert:hover .recommendation__image {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}

@media screen and (min-width: 481px) {
  .recommendation--left:hover .recommendation__image {
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0);
  }

  .recommendation--vert:hover .recommendation__image {
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
}

@media screen and (min-width: 631px) {
  .recommendation--banner:hover .recommendation__image {
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
}

@media screen and (min-width: 861px) {
  .recommendation--vert:hover .recommendation__image {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
}

.recommendation:hover .recommendation__arrow {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.recommendation--banner .recommendation__content {
  min-height: 300px;
  padding: 40px 0 40px;
}

@media screen and (min-width: 481px) {
  .recommendation--vert .recommendation__content {
    max-width: 56%;
  }

  .recommendation--left .recommendation__content {
    max-width: 50%;
  }

  .recommendation--big .recommendation__content{
    max-width: 50%;
  }
}

@media screen and (min-width: 631px) {
  .recommendation--small .recommendation__content {
    max-width: 70%;
  }

  .recommendation--middle .recommendation__content {
    max-width: 56%;
  }

  .recommendation--banner .recommendation__content {
    max-width: 40%;
  }
}

@media screen and (min-width: 861px) {
  .recommendation--vert .recommendation__content {
    max-width: none;
  }
}

@media screen and (min-width: 961px) {
  .recommendation--banner .recommendation__content {
    min-height: 420px;
  }
}

@media screen and (min-width: 1021px) {
  .recommendation__content {
    min-height: 290px;
  }
}

@media screen and (min-width: 1169px) {
  .recommendation__content {
    max-width: 90%;
  }

  .recommendation--left .recommendation__content {
    max-width: 56%;
  }

  .recommendation--big .recommendation__content {
    max-width: 56%;
  }
}

@media screen and (min-width: 1200px) {
  .recommendation__content {
    padding: 45px 58px 56px;
  }

  .recommendation--banner .recommendation__content {
    padding: 62px 0 64px;
  }
}

.recommendation__image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: auto;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.recommendation--left .recommendation__image,
.recommendation--vert .recommendation__image,
.recommendation--banner .recommendation__image,
.recommendation--big .recommendation__image {
  position: static;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  -ms-flex-item-align: end;
      -webkit-align-self: flex-end;
          align-self: flex-end;
}

.recommendation--left .recommendation__image {
  -ms-flex-item-align: start;
      -webkit-align-self: flex-start;
          align-self: flex-start;
}

@media screen and (min-width: 481px) {
  .recommendation--left .recommendation__image,
  .recommendation--vert .recommendation__image,
  .recommendation--big .recommendation__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    max-width: none;
    max-height: none;
  }

  .recommendation--left .recommendation__image {
    left: 0;
    right: auto;
  }

  .recommendation--left.recommendation--longimg .recommendation__image,
  .recommendation--big.recommendation--longimg .recommendation__image {
    /* height: 137% ; */
  }
}

@media screen and (min-width: 631px) {
  .recommendation--banner .recommendation__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 60%;
    max-height: 100%;
  }

  .recommendation--banner.recommendation--longimg2 .recommendation__image {
    /* max-height: 126%; */
  }
}

@media screen and (min-width: 861px) {
  .recommendation--vert .recommendation__image {
    position: static;
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }

  .recommendation--banner .recommendation__image {
    max-width: 75%;
  }
}

.recommendation__count {
  width: 100%;
  opacity: .5;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 6px;
}

.recommendation__count  small {
  font-size: 16px;
}

.recommendation--smalltitle .recommendation__count {
  margin-bottom: 8px;
}

.recommendation--banner .recommendation__count {
  margin-bottom: 28px;
}

.recommendation--dark .recommendation__count {
  /* color: #000; */
}

.recommendation__title {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 20px;
}

.recommendation--smalltitle .recommendation__title {
  font-size: 25px;
}

.recommendation--banner .recommendation__title {
  font-size: 35px;
  margin-bottom: 30px;
}

.recommendation--dark .recommendation__title {
  /* color: #000; */
}

@media screen and (min-width: 961px) {
  .recommendation__title {
    font-size: 35px;
  }

  .recommendation--smalltitle .recommendation__title {
    font-size: 31px;
  }

  .recommendation--banner .recommendation__title {
    font-size: 55px;
  }
}

.recommendation__title-text {
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.recommendation--dark .recommendation__title-text {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.recommendation__price {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.recommendation__price b {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
}

.recommendation--lilac {
  background-color: #8ca0d3;
}

.recommendation--marine {
  background-color: #39717e;
}

.recommendation--violet {
  background-color: #1c0e25;
}

.recommendation--pink {
  background-color: #e07379;
}

.recommendation--red {
  background-color: #ce4c4c;
}

.recommendation--blue {
  background-color: #9bc7ec;
}

.recommendation--aquamarine {
  background-color: #3fa4b0;
}

.recommendation--olive {
  background-color: #a1a64b;
}

.recommendation--dirt {
  background-color: #918143;
}

.recommendation--orange {
  background-color: #db8b2b;
}

.recommendation--yellow {
  background-color: #e7ce61;
}

.recommendation--light-blue {
  background-color: #a7d0cc;
}

.recommendation--yellow-orange {
  background-color: #ffbe4a;
}

.recommendation--green {
  background-color: #2e9e88;
}

.recommendation--blood {
  background-color: #8c0025;
}

/* @media screen and (max-width: 630px) {
  .recommendation--lilac .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(140, 160, 211, 0)) , color-stop(50%, rgba(140, 160, 211, .5)), to(rgba(140, 160, 211, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(140, 160, 211, 0) 15% , rgba(140, 160, 211, .5) 50%, rgba(140, 160, 211, 0) 100%) 50% 50% repeat;
  }

  .recommendation--marine .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(57, 113, 126, 0)) , color-stop(50%, rgba(57, 113, 126, .5)), to(rgba(57, 113, 126, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(57, 113, 126, 0) 15% , rgba(57, 113, 126, .5) 50%, rgba(57, 113, 126, 0) 100%) 50% 50% repeat;
  }

  .recommendation--violet .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(28, 14, 37, 0)) , color-stop(50%, rgba(28, 14, 37, .5)), to(rgba(28, 14, 37, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(28, 14, 37, 0) 15% , rgba(28, 14, 37, .5) 50%, rgba(28, 14, 37, 0) 100%) 50% 50% repeat;
  }

  .recommendation--pink .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(224, 115, 121, 0)) , color-stop(50%, rgba(224, 115, 121, .5)), to(rgba(224, 115, 121, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(224, 115, 121, 0) 15% , rgba(224, 115, 121, .5) 50%, rgba(224, 115, 121, 0) 100%) 50% 50% repeat;
  }

  .recommendation--red .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(206, 76, 76, 0)) , color-stop(50%, rgba(206, 76, 76, .5)), to(rgba(206, 76, 76, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(206, 76, 76, 0) 15% , rgba(206, 76, 76, .5) 50%, rgba(206, 76, 76, 0) 100%) 50% 50% repeat;
  }

  .recommendation--blue .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(155, 199, 236, 0)) , color-stop(50%, rgba(155, 199, 236, .5)), to(rgba(155, 199, 236, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(155, 199, 236, 0) 15% , rgba(155, 199, 236, .5) 50%, rgba(155, 199, 236, 0) 100%) 50% 50% repeat;
  }

  .recommendation--aquamarine .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(63, 164, 176, 0)) , color-stop(50%, rgba(63, 164, 176, .5)), to(rgba(63, 164, 176, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(63, 164, 176, 0) 15% , rgba(63, 164, 176, .5) 50%, rgba(63, 164, 176, 0) 100%) 50% 50% repeat;
  }

  .recommendation--olive .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(160, 165, 75, 0)) , color-stop(50%, rgba(160, 165, 75, .5)), to(rgba(160, 165, 75, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(160, 165, 75, 0) 15% , rgba(160, 165, 75, .5) 50%, rgba(160, 165, 75, 0) 100%) 50% 50% repeat;
  }

  .recommendation--dirt .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(145, 129, 67, 0)) , color-stop(50%, rgba(145, 129, 67, .5)), to(rgba(145, 129, 67, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(145, 129, 67, 0) 15% , rgba(145, 129, 67, .5) 50%, rgba(145, 129, 67, 0) 100%) 50% 50% repeat;
  }

  .recommendation--orange .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(219, 139, 43, 0)) , color-stop(50%, rgba(219, 139, 43, .5)), to(rgba(219, 139, 43, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(219, 139, 43, 0) 15% , rgba(219, 139, 43, .5) 50%, rgba(219, 139, 43, 0) 100%) 50% 50% repeat;
  }

  .recommendation--yellow .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(231, 206, 97, 0)) , color-stop(50%, rgba(231, 206, 97, .5)), to(rgba(231, 206, 97, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(231, 206, 97, 0) 15% , rgba(231, 206, 97, .5) 50%, rgba(231, 206, 97, 0) 100%) 50% 50% repeat;
  }

  .recommendation--light-blue .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(167, 208, 204, 0)) , color-stop(50%, rgba(167, 208, 204, .5)), to(rgba(167, 208, 204, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(167, 208, 204, 0) 15% , rgba(167, 208, 204, .5) 50%, rgba(167, 208, 204, 0) 100%) 50% 50% repeat;
  }

  .recommendation--yellow-orange .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(255, 190, 74, 0)) , color-stop(50%, rgba(255, 190, 74, .5)), to(rgba(255, 190, 74, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(255, 190, 74, 0) 15% , rgba(255, 190, 74, .5) 50%, rgba(255, 190, 74, 0) 100%) 50% 50% repeat;
  }

  .recommendation--green .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(46,158,136, 0)) , color-stop(50%, rgba(46,158,136, .5)), to(rgba(46,158,136, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(46,158,136, 0) 15% , rgba(46,158,136, .5) 50%, rgba(46,158,136, 0) 100%) 50% 50% repeat;
  }

  .recommendation--blood .recommendation__content {
    background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(140,0,37, 0)) , color-stop(50%, rgba(140,0,37, .5)), to(rgba(140,0,37, 0))) 50% 50% repeat;
    background: linear-gradient(to left, rgba(140,0,37, 0) 15% , rgba(140,0,37, .5) 50%, rgba(140,0,37, 0) 100%) 50% 50% repeat;
  }
} */

.recommendation--banner {
  margin-bottom: 70px;
}

.recommendation-grid {
  margin-bottom: 46px;
}

.recommendation-grid:last-child {
  margin-bottom: 70px;
}

.recommendation-grid--mgtop {
  margin-top: 30px;
}

.recommendation-list {
  margin-bottom: 40px;
}

.game-card {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.game-card__poster {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 125%;
  display: block;
  overflow: hidden;
}

.game-card__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 0;
  min-width: 100%;
  min-height: 100%;
}

.game-card__info {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 10px 18px;
  background-color: #fff;
  color: #000;
}

.game-card__info--full {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
  z-index: 2;
}

@media screen and (min-width: 481px) {
  .game-card__info {
    padding: 11px 20px 18px;
  }
}

@media screen and (min-width: 1169px) {
  .game-card--big .game-card__info {
    padding: 20px 30px 30px;
  }

  .game-card--big .game-card__info--full {
    padding: 20px 30px 28px;
  }
}

.game-card:hover .game-card__info--short .game-card__title,
.game-card:hover .game-card__info--short .game-card__price {
  opacity: 0;
}

.game-card:hover .game-card__info--full {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

.game-card__title {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 1.7;
  width: 100%;
  margin-bottom: 5px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.game-card__info--short .game-card__title {
  position: relative;
}

.game-card__info--short .game-card__title::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  display: block;
  pointer-events: none;
  width: 15px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 2;
}

.game-card__info--full .game-card__title {
  margin-bottom: 10px;
}

@media screen and (min-width: 481px) {
  .game-card__title {
    font-size: 17px;
  }
}

@media screen and (min-width: 1169px) {
  .game-card--big .game-card__title {
    margin-bottom: 10px;
  }

  .game-card--big .game-card__info--full .game-card__title {
    margin-bottom: 22px;
  }
}

.game-card__title-text {
  padding: 2px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.game-card__info--full .game-card__title-text {
  padding: 4px 0;
}

.game-card__info--short .game-card__title-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: clip;
}

.game-card__price {
  font-size: 17px;
  font-weight: 700;
  width: 100%;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

@media screen and (min-width: 481px) {
  .game-card__price {
    font-size: 19px;
  }
}

.game-card__buy {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  cursor: pointer;
}

.game-card__buy:hover {
  opacity: .5;
}

@media screen and (min-width: 481px) {
  .game-card__buy {
    padding-left: 34px;
    font-size: 17px;
  }
}

.game-card__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 1px;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.game-card__genre {
  width: 100%;
  color: rgba(0, 0, 0, .6);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .02em;
  margin-bottom: 8px;
}

.game-list {
  /* margin-bottom: 70px; */
  margin-bottom: 30px;
}

.game-list form {
  margin-bottom: 44px;
}

.btn--long-grid {
  display: table;
  margin: 30px auto;
  padding-left: 23px;
  padding-right: 26px;
  font-size: 16px;
  letter-spacing: .02em;
}

.btn--long-grid .iconic--grid {
  margin-right: 10px;
}

.btn--long {
  background-color: #fff;
  width: 100%;
  margin: 30px 0 0;
  padding: 14px 18px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: .02em;
  color: #111;
  -webkit-transition-property: all;
  transition-property: all;
}

.btn--long:hover {
  opacity: .7;
}

.main-wr { padding: 0; }