<html>
<head>
<meta charset="utf-8" />
<title>Главная</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg header_1">
<div class="container">
<a class="navbar-brand" href="index.html"><img class="logo" src="img/logo.png"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-1" aria-controls="header-1" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="header-1">

<div class="col search-header_1">
<input class="form-control" type="text" placeholder="Поиск среди 2 585 игр...">
<button type="submit" class="search-btn_1"><i class="fas fa-search"></i></button>
</div>
<ul class="navbar-nav ml-md-auto">
<li class="nav-item"><a class="nav-link" href="garant.html">Гарантии</a></li>
<li class="nav-item"><a class="nav-link" href="discount.html">Накопительная скидка</a></li>
<li class="nav-item"><a class="nav-link" href="delivery.html">Доставка</a></li>
<li class="nav-item"><a class="nav-link" href="reviews.html">Отзывы</a></li>
<li class="nav-item dropdown">
<a class="nav-link" href="#" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="cur-ico" src="img/rub.svg"> RUB</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="currency">
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/usd.svg"> USD</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/eur.svg"> EUR</a>
<a class="dropdown-item" href="#"><img class="cur-ico" src="img/uah.svg"> UAH</a>
</div>
</li>
</ul>
</div>
</div>
</nav>
<div class="nav-scroller header_1-scroller">
<div class="container">
<nav class="nav nav-underline">
<a class="nav-link" href="games.html">Каталог</a>
<a class="nav-link" href="games.html">Скидки</a>
<a class="nav-link" href="games.html">Топ продаж</a>
<a class="nav-link" href="games.html">Новинки</a>
<a class="nav-link" href="games.html">Предзаказы</a>
<div class="ml-md-auto cart-block">
<a class="nav-link cart-link" href="cart.html"><i class="icon-cart-2"></i> <span class="badge-cart">0</span></a>
</div>
</nav>
</div>
</div>
<div id="slider" class="carousel slide slider" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<a href="game.html"><img src="img/banner-1.jpg" class="d-block w-100"></a>
</div>
<div class="carousel-item">
<a href="game.html"><img src="img/banner-2.jpg" class="d-block w-100"></a>
</div>
<div class="carousel-item">
<a href="game.html"><img src="img/banner-3.jpg" class="d-block w-100"></a>
</div>
</div>
<a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Предыдущий</span>
</a>
<a class="carousel-control-next" href="#slider" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Следующий</span>
</a>
</div>
<div id="slider-game" class="carousel slide slider-game" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#slider-game" data-slide-to="0" class="active"></li>
<li data-target="#slider-game" data-slide-to="1"></li>
<li data-target="#slider-game" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
<div class="container">
<div class="catalog-block">
<div class="row">
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Grand Theft Auto V + Premium + Online</div>
<div class="price"><span>2 299</span> 599 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2262323-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Mortal Kombat 11 Premium Edition</div>
<div class="price"><span>260</span> 1 399 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2565919-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="container">
<div class="catalog-block">
<div class="row">
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Grand Theft Auto V + Premium + Online</div>
<div class="price"><span>2 299</span> 599 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2262323-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Mortal Kombat 11 Premium Edition</div>
<div class="price"><span>260</span> 1 399 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2565919-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="container">
<div class="catalog-block">
<div class="row">
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Grand Theft Auto V + Premium + Online</div>
<div class="price"><span>2 299</span> 599 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2262323-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Mortal Kombat 11 Premium Edition</div>
<div class="price"><span>260</span> 1 399 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2565919-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
</div>
<div class="title">Vampire: The Masquerade - Bloodlines 2: Blood Moon Edition</div>
<div class="price"><span>2 999</span> 1 425 <sup>руб</sup></div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/2623180-397x185.png">
</div>
</a>
</div>
<div class="col-xl-4">
<a href="game.html" class="catalog-block-link">
<div class="game">
<div class="icon">
<i class="icon-steam" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steam"></i> 
<i class="icon-windows" data-toggle="tooltip" data-placement="top" title="" data-original-title="Windows"></i>
<i class="icon-mac" data-toggle="tooltip" data-placement="top" title="" data-original-title="MAC"></i>
<i class="icon-linux" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linux"></i>
</div>
<div class="title">PixelJunk Monsters Ultimate</div>
<div class="price">Нет в наличии</div>
<div class="gradient"></div>
<img src="https://steambuy.com/goods_image/1690198-397x185.png">
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container main-tabs">
<ul class="nav nav-tabs nav-pills justify-content-center" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="home-tab" data-toggle="tab" href="#top" role="tab" aria-controls="home" aria-selected="true">Топ продаж</a>
</li>
<li class="nav-item">
<a class="nav-link" id="profile-tab" data-toggle="tab" href="#new" role="tab" aria-controls="profile" aria-selected="false">Новинки</a>
</li>
<li class="nav-item">
<a class="nav-link" id="contact-tab" data-toggle="tab" href="#preorder" role="tab" aria-controls="contact" aria-selected="false">Предзаказы</a>
</li>
<li class="nav-item">
<a class="nav-link" id="contact-tab" data-toggle="tab" href="#discont" role="tab" aria-controls="contact" aria-selected="false">Скидки</a>
</li>
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="top-tab">
<div class="catalog-list">
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steambuy.com/goods_image/2583975-397x185.png">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Total War: THREE KINGDOMS</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен, Стратегии</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>22%</span> 1 552 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steambuy.com/goods_image/2262323-397x185.png">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Grand Theft Auto V + Premium + Online</h6>
<span class="game-info"><i class="icon-rockstar"></i> Social Club</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен, Онлайн, Приключения</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>79%</span> 599 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
</div>
</div>
<div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
<div class="catalog-list">
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steambuy.com/goods_image/2657535-397x185.png">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Cities: Skylines - Campus</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-mac"></i> MAC</span>
<span class="game-info"><i class="icon-linux"></i> SteamOS + Linux</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Симуляторы, Стратегии</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>14%</span> 258 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steammachine.ru//slider/2565919-220x126.png?684">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Mortal Kombat 11 Premium Edition</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>16%</span> 1 399 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
</div>
</div>
<div class="tab-pane fade" id="preorder" role="tabpanel" aria-labelledby="preorder-tab">
<div class="catalog-list">
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steammachine.ru//slider/2583975-220x126.png?278">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Total War: THREE KINGDOMS</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен, Стратегии</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>20%</span> 1 599 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steammachine.ru//slider/2565919-220x126.png?684">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Mortal Kombat 11 Premium Edition</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>16%</span> 1 399 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
</div>
</div>
<div class="tab-pane fade" id="discont" role="tabpanel" aria-labelledby="discont-tab">
<div class="catalog-list">
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steammachine.ru//slider/2583975-220x126.png?278">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Total War: THREE KINGDOMS</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен, Стратегии</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>20%</span> 1 599 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
<a class="catalog-list-link" href="game.html">
<div class="game">
<div class="row">
<div class="col-xl-auto col-lg-12">
<img src="https://steammachine.ru//slider/2565919-220x126.png?684">
</div>
<div class="col-xl col-lg-12 align-self-center">
<h6>Mortal Kombat 11 Premium Edition</h6>
<span class="game-info"><i class="icon-steam"></i> Steam</span>
<span class="game-info"><i class="icon-windows"></i> Windows</span>
<span class="game-info">Экшен</span>
</div>
<div class="col-xl-auto col-lg-12 align-self-center">
<div class="value"><span>16%</span> 1 399 <sup>руб</sup></div>
</div>
</div>
</div>
</a>
</div>
</div>
</div>
</div>
<div class="reviews-title"><h4>Отзывы</h4></div>
<div id="slider-reviews" class="carousel slide slider-reviews" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#slider-reviews" data-slide-to="0" class="active"></li>
<li data-target="#slider-reviews" data-slide-to="1"></li>
<li data-target="#slider-reviews" data-slide-to="2"></li>
<li data-target="#slider-reviews" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="reviews">
<div class="media reviews-now">
<img src="https://gabestore.ru/static/image/avatar/30.jpg" class="mr-3 avatar" alt="...">
<div class="media-body">
<h6 class="mt-0"><a href="#" target="_blank">Кратос Феникс</a> <span>27.04.2019 в 11:24</span></h6>
Магазин заебись
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
<div class="container">
<div class="row">
<div class="col-lg-3">
<img class="logo" src="img/logo.svg">
<div class="social-link">
<a class="vk" href="#"><i class="icon-vk"></i></a>
<a class="fb" href="#"><i class="icon-fb"></i></a>
<a class="tw" href="#"><i class="icon-tw"></i></a>
<a class="yt" href="#"><i class="icon-youtube"></i></a>
</div>
</div>
<div class="col-lg">
<p>Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения, которые указаны в описании товара или при оформлении заказа - будьте внимательны!</p>
<p>Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive, Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другие</p>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/apps.js"></script>
</body>
</html>
