@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Roboto', sans-serif;font-size: 1rem;color: #130f40;background: #f5f5f5;}
.navbar-toggler:focus {outline: none;}
.header {padding: 30px 0px;}
.icon-header {font-size: 24px;margin-left: 15px;}
.logo {height: 35px;}
.header .col-searth, .header .col-logo {padding-right: 0px;}
.header .col-icon {padding-left: 0px;margin-top: 6px;}
.header .col-icon button {margin-right: 15px;}