@import url('https://fonts.googleapis.com/css?family=Play');
@import "icon.css";
@import "bootstrap.css";
@import "select.css";
@import "select-bootstrap.css";
@import "bsnav.css";

body {font-family: 'Play', sans-serif;font-size: 0.9rem;color: #646c9a;background: #f9f9fc;}
.navbar-toggler {margin-right: 15px;display: none;margin-top: 7px;}
.navbar-toggler:focus {outline: none;}

.header {background: #181824;margin-bottom: 0px;}
.nav-header {color: #6c6e86!important;}
.nav-header:hover {color: #fff!important;}
.nav-header i {color: #6c6e86!important;font-size: 1rem;}
.nav-header:hover i {color: #374afb!important;}
.nav-login {background: #232337;color: #fff!important;padding: 7px 15px!important;margin-top: 14px;}
.nav-login:hover {background: #e2004b;}
.search-block {background: #fff;padding: 15px 0px;}
.search-block .btn {padding: 9px;background: #f2f3f7;color: #c1bfd1;border-radius: 0px;}
.search-block .btn:focus, .search-block .btn:hover {background: #374afb;box-shadow: none;color: #fff;}
.search-block .form-control {border-radius: 0px;background: #f2f3f7;color: #b7bfcc;border-color: #f2f3f7;font-size: 0.9rem;}
.search-block .form-control:focus {box-shadow: none;}
.search-block .form-control::placeholder {color: #b7bfcc;}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {background: #e2004b;}
.bsnav-mobile .navbar {background: #232337;}
.mini-header {background: #1f1e2e;height: 33px;}
.mini-header .nav-link {color: #6c6e86;font-size: 13px;}
.mini-header .nav-link:hover {color: #fff;}
.mini-header .container {padding: 0px;}
.mini-header .cart-link:hover {text-decoration: none;color: #fff;}
.nav-scroller {position: relative;z-index: 2;overflow-y: hidden;}
.nav-scroller .nav {display: -ms-flexbox;display: flex;-ms-flex-wrap: nowrap;flex-wrap: nowrap;padding-bottom: 1rem;margin-top: -1px;overflow-x: auto;color: rgba(255, 255, 255, .75);text-align: center;white-space: nowrap;-webkit-overflow-scrolling: touch;}
.nav-category {color: #6c7293!important;font-size: 1rem;padding: 10px 15px!important;margin-top: 15px;margin-bottom: 14px;}
.nav-category:hover {color: #374afb!important;background-color: rgba(77,89,149,.06);}
.counter-catalog {background: #232337;padding: 3px 5px;margin-left: 5px;}
.nav-catalog {color: #6c7293!important;padding-left: 0px!important;}
.nav-catalog:hover {color: #fff!important;}
.nav-catalog i {color: #374afb!important;font-size: 1rem;}
.navbar {padding: 0px;}

.banner-1264x300 {margin-top: 30px;}
.slider-discont {margin-top: 30px;}
.slider-discont .carousel-indicators {position: inherit;margin-top: -10px;}
.slider-discont .carousel-indicators li {background-color: #959cb6;height: 7px;}
.slider-discont .carousel-indicators .active {background-color: #5867dd;}
.slider-discont .img-discont {width: 100%;}
.col-game-discont {margin-bottom: 30px;}
.col-game-discont .discont {z-index: 999;position: absolute;bottom: 15;left: 50%;transform: translate(-50%, 0%);border: 2px solid rgba(255,255,255,0.3);padding: 7px 15px;color: #fff;background: rgba(0, 0, 0, 0.3);}
.col-game-discont a:hover .discont {background: #e2004b;border: 2px solid #e2004b;}
.col-game-discont .discont span {text-decoration: line-through;color: #dedede;font-size: 10px;}
.col-game-discont .gradient {background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);width: calc(100% - 30px);height: 100px;position: absolute;bottom: 0;}
.game-list .nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: rgba(88,103,221,.1);color: #5867dd;}
.game-list .nav-pills .nav-link {border-radius: 0px;}
.game-list .nav-link, .game-list .nav-link:hover {color: #959cb6;font-size: 1rem;}
.game-list .tab-pane {background: #fff;width: 100%;padding: 30px;margin-top: 22px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.game-list .game img {width: 150px;}
.game-list .game {border-bottom: 1px dashed #ebedf2;padding-bottom: 15px;margin-bottom: 15px;}
.game-list .game:last-child {border: 0px;margin-bottom: 0px;padding-bottom: 0px;}
.game-list .game a {color: #595d6e;}
.game-list .game a:hover {text-decoration: none;color: #5d78ff;}
.game-list .game .info {color: #74788d;margin-right: 3px;border-right: 1px solid #ebedf2;padding-right: 5px;}
.game-list .game .info:last-child {border: 0px;}
.game-list .game .price span {background-color: rgba(10,187,135,.1);color: #0abb87;font-weight: bold;padding: .5rem 1rem;font-size: 0.9rem;margin-right: 10px;}
.game-list .game .price {font-size: 1.3rem;color: #595d6e;}
.game-list .game a:hover .price span {background: #0abb87;color: #fff;}
.game-list .catalog-link {padding-top: 15px;font-size: 1rem;text-align: center;}
.game-list .catalog-link a {color: #93a2dd;}
.game-list .catalog-link a:hover {text-decoration: none;background: #f0f3ff;padding: 10px 20px;}
.game-list .discont-title {font-size: 1rem;color: #959cb6;margin-top: 8px;}
.game-list .game-discont-list {background: #fff;width: 100%;padding: 30px;margin-top: 30px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.series-discont img {width: 100%;}
.series-discont .col-6 {margin-bottom: 30px;}
.series-discont .discont {z-index: 999;position: absolute;bottom: 15;left: 50%;transform: translate(-50%, 0%);border: 2px solid rgba(10, 187, 134, 0.5);padding: 7px 15px;color: #fff;background: rgba(0, 0, 0, 0.3);}
.series-discont a:hover .discont {background: #0abb87;border: 2px solid #0abb87;}
.game-discont-list .carousel-indicators {bottom: -30px;}
.game-discont-list .carousel-indicators li {background-color: #959cb6;height: 7px;}
.game-discont-list .carousel-indicators .active {background-color: #5867dd;}
.series-discont .gradient {background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);width: calc(100% - 30px);height: 120px;position: absolute;bottom: 0;}
.fortuna-banner {text-align: center;margin-top: 30px;background: #e2004b;color: #fff;font-size: 1.3rem;padding: 46px 0px;margin-bottom: 30px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.fortuna-banner:hover, .fortuna-link:hover {text-decoration: none;background: #c50042;}
.reviews-title {text-align: center;font-size: 1rem;color: #959cb6;margin-bottom: 30px;}
.reviews {background: #fff;padding: 30px;margin-bottom: 30px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
.reviews .avatar {width: 50px;height: 50px;}
.reviews-now span {font-size: 12px;color: #909090;}
.reviews a {color: #595d6e;}
.reviews a:hover {color: #5867dd;text-decoration: none;}
.about {background: #fff;padding: 30px 0px;color: #595d6e;}
.about a {color: #595d6e;}
.about a:hover {color: #5867dd;text-decoration: none;border-bottom: 2px solid #5867dd;}
.mail {background: #1f1e2e;padding: 30px 0px;color: #6c6e86;text-align: center;}
.mail .input-mail {max-width: 450px;margin: auto;}
.mail .text-muted {color: #6c6e86!important;margin-top: 15px;}
.mail h4 {margin-bottom: 30px;}
.mail .form-control {background: #252338;color: #807da1;border-color: #252338;border-radius: 0px;border: 0px;}
.mail .btn {background: #5867dd;color: #fff;border-radius: 0px;border: 0px;}
.mail .btn:hover {background: #4855b6;}
.mail .form-control::placeholder {color: #807da1;}
.mail .form-control:focus, .mail .btn:focus {box-shadow: none;border: 0px;}
.footer {background: #181824;padding: 30px 0px;}
.footer .logo {height: 50px;opacity: 0.8;}
.footer .logo:hover {opacity: 1;}
.footer .social-icon {margin-top: 5px;}
.footer .social-icon a {font-size: 30px;padding: 7px;color: #6c6e86;}
.footer .social-icon a:hover {color: #5867dd;}
.footer .button a {padding: 10px 15px;background: #232337;color: #fff;}
.footer .button a:hover {background: #5867dd;text-decoration: none;}
.footer-link {margin-left: 30px;color: #6c6e86;}
.footer-link:hover {color: #fff;text-decoration: none;}
.footer-link:hover i {color: #5867dd;}
@media (min-width: 992px) {
.container {max-width: 1264px;}
}

@media (max-width: 992px) {
    .navbar-toggler {display: block;}
    .search-block {background: #181824;}
    .search-block .form-control {background: #252338;color: #807da1;border-color: #252338;}
    .search-block .btn {background: #252338;color: #807da1;}
    .search-block .form-control::placeholder {color: #807da1;}
    .container {max-width: 100%!important;}
    .bsnav-mobile .navbar {padding: 0px;}
    .bsnav-mobile .navbar-nav {padding-top: 5px;padding: 0px;}
    .nav-catalog, .nav-header {border: none;width: 100%;background: none;padding: 10px 15px!important;color: #b7bfcc!important;}
    .nav-catalog:hover, .nav-header:hover {background: #181824;color: #fff!important;}
    .counter-catalog {background: #181824;}
    .nav-catalog:hover .counter-catalog {background: #1f1e2e;}
    .nav-catalog i, .nav-header i {color: #374afb!important;margin-right: 5px;}
    .nav-category {padding: 0px!important;margin: 5px;margin-left: 15px;background: none;}
    .category-nav {background: #181824;margin-left: 0px!important;padding: 7px 0px!important;}
    .nav-category:hover {color: #fff!important;background: none!important;}
    .nav-category:hover i {color: #374afb!important;}
    .nav-login {background: #e2004b;width: 200px;text-align: center;margin: 15px;}
    .nav-catalog {margin-top: 8px!important;}
    .banner-1264x300 {margin-top: 0px;margin-left: -15px;margin-right: -15px;}
    .col-game-discont {margin-bottom: 0px;margin-top: 15px;padding-left: 7.5px;padding-right: 7.5px;}
    .slider-discont {margin-top: 15px;}
    .slider-discont .carousel-indicators {position: inherit;margin-top: 5px;}
    .col-game-discont .gradient {width: calc(100% - 15px);}
    .game-list .game img {width: 100%;margin-bottom: 15px;}
    .game-list .tab-pane {padding: 15px;}
    .game-list .game .price {text-align: center;margin-top: 15px;}
    .game-list .catalog-link {padding-top: 0px;}
    .game-list .discont-title {text-align: center;margin-top: 15px;}
    .game-list .game-discont-list {margin-top: 15px;padding: 15px;padding-bottom: 22px;}
    .series-discont .col-6 {margin-bottom: 15px;padding-right: 7.5px;padding-left: 7.5px;}
    .game-discont-list .carousel-indicators {bottom: -33px;}
    .fortuna-banner {margin-top: 15px;padding: 20px 0px;margin-bottom: 0px;}
    .reviews-title {margin-bottom: 15px;margin-top: 15px;}
    .reviews {padding: 15px;margin-bottom: 15px;}
    .about {padding: 15px 0px;}
    .vk_groups {margin: auto;}
    .footer {padding: 15px 0px;}
    .footer-logo {display: none;}
    .footer .button-footer {margin: auto;padding-top: 20px;padding-bottom: 10px;}
    .footer .links {text-align: center;}
    .footer .links a {white-space: nowrap;}
    .mail {padding: 15px 0px;}
    .mail h4 {margin-bottom: 15px;}
    .footer-link {margin-left: 15px;}
}
@media (max-width: 576px) {
    .header {display: none;}
    .game-list .nav-item {min-width: fit-content;}
}

.game-background {height: 562px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}
.game-background .container {position: relative;}
.game-background .overlay {background: rgba(0, 0, 0, 0.9);width: 100%;height: 562px;position: absolute;}
.game-background .bread {padding-top: 24px;}
.game-background .bread a {color: #fff;}
.game-background .bread a:hover {color: #dbdada;text-decoration: none;}
.game-background .bread i {margin: 0px 5px;color: #374afb;font-size: 0.7rem;}
.game-background .title {margin-top: 11px;color: #fff;font-size: 2rem;}
.game-background .game-img {width: 100%;margin-top: 17px;}
.game-background li {padding-left: 0px;list-style: none;padding-bottom: 5px;}
.game-background li:last-child {padding-bottom: 0px;}
.game-background span {float: left;width: 120px;}
.game-background .game-list {margin-top: 11px;color: #fff;padding-left: 0px;}
.game-background .game-list a {color: #fff;border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
.game-background .game-list a:hover {color: #dbdada;text-decoration: none;border: 0px;}
.game-background .game-list .col-lg-6 {padding-left: 0px;padding-bottom: 5px;}
.game-background .game-list i {color: #374afb;}
.game-background .screenshot-carousel {max-width: 462px;flex-wrap: nowrap;overflow: hidden;overflow-x: scroll;padding-bottom: 10px;}
.game-background .screenshot-carousel-list {display: flex;float: left;}
.game-background .screenshot-carousel-list img {width: 231px;height: 129px;}
.game-background .screenshot-carousel::-webkit-scrollbar{height: 8px;}
.game-background .screenshot-carousel::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px;border-color: #636363;background-color: #e2004b;cursor: pointer;border-radius: 0px;}
.game-background .screenshot-carousel::-webkit-scrollbar-thumb:hover{border-width: 1px 1px 1px 2px;border-color: #c00040;background-color: #c00040;cursor: pointer;}
.game-background .screenshot-carousel::-webkit-scrollbar-track{border-width:0;}
.game-background .price .discont {border: 2px solid rgba(10, 187, 134, 0.5);padding: 14px;font-size: 1.3rem;padding-bottom: 15px;color: #fff;}
.game-background .price {font-size: 1.8rem;color: #fff;margin-top: 42.5px;}
.game-background .price span {text-decoration: line-through;color: #dbdada;font-size: 12px;}
.game-background .btn-buy {background: #0abb87;color: #fff;border: 0px;border-radius: 0px;padding: 19px 45px;}
.game-background .btn-buy:hover, .game-background .btn-buy:focus {background: #09a174;box-shadow: none;}
.game-background .btn-favorites {color: #fff;border: 0px;border-radius: 0px;}
.game-background .btn-favorites i {color: #c00040;}
.game-background .btn-favorites:hover {color: #dbdada;}
.game-background .btn-favorites:hover, .game-background .btn-favorites:focus {box-shadow: none;}

.game-preorder, .game-bonus {background: #fff;padding: 30px;margin-top: 30px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);color: #595d6e;}
.game-preorder h5, .game-bonus h5 {margin-bottom: 30px;}
.game-preorder img, .game-bonus img {width: 100%;}
.game-preorder li, .game-bonus li {list-style-type:square;}
.game-preorder ul, .game-bonus ul {padding-left: 15px;margin-top: 35px;margin-bottom: 0px;}
.game-tabs {background: #fff;padding: 30px;margin-top: 30px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);color: #595d6e;}
.alert-blue {color: #55a1cd;background-color: rgba(85, 161, 205, 0.1);border-radius: 0px;}
.alert-pink {color: #a655b2;background-color: rgba(166, 85, 178, 0.1);border-radius: 0px;}
.alert-pink a {color: #a655b2;border-bottom: 1px solid #a655b2!important;font-weight: bold;}
.alert-pink a:hover {text-decoration: none;border-bottom: 0px!important;}
.alert-green {color: #4dae51;background-color: rgba(77, 174, 80, 0.1);border-radius: 0px;}
.alert-yellow {color: #ada54c;background: rgba(246, 235, 109, 0.1);border-radius: 0px;}
.alert-yellow a {color: #ada54c;border-bottom: 1px solid #ada54c!important;font-weight: bold;}
.alert-yellow a:hover {text-decoration: none;border-bottom: 0px!important;}
.alert-gray {color: #4e4e4e;background-color: rgba(78, 78, 78, 0.1);border-radius: 0px;}

@media (max-width: 992px) {
    .game-background {background: #fff;background-image: none!important;height: auto;padding-bottom: 2px;box-shadow: 0 0 13px 0 rgba(82,63,105,.05);}
    .game-background .overlay {display: none;}
    .game-background .bread {padding-top: 9px;}
    .game-background .bread a {color: #646c9a;}
    .game-background .bread a:hover {color: #5b638b;}
    .game-background .title {color: #646c9a;font-size: 1.5rem;margin-top: 1px;}
    .game-background .game-img {margin-top: 6px;}
    .game-background .game-list {color: #646c9a;}
    .game-background .game-list a {color: #646c9a;border-bottom: 1px solid rgba(100, 108, 154, 0.1);}
    .game-background .game-list a:hover {color: #646c9a;}
    .game-background span {width: auto;margin-right: 5px;color: #595d6e;}
    .game-background .game-list .row {clear: both;padding: 15px;padding-top: 5px;}
    .game-background .screenshot-carousel {max-width: 100%;}
    .game-background .price .discont {border: 0px;padding: 14px;font-size: 1.3rem;padding-bottom: 15px;background-color: rgba(10,187,135,.1);color: #0abb87;}
    .game-background .price {color: #646c9a;text-align: center;margin-top: -27px;}
    .game-background .btn-buy {width: 100%;margin-top: 14px;margin-bottom: 5px;}
    .game-background .btn-favorites {color: #646c9a;}
    .game-background .btn-favorites:hover {color: #5b638b;}

    }